n8n/demo-data/workflows/5lukauv0xaLCUO3C.json
{"updatedAt":"2025-12-03T03:33:44.001Z","createdAt":"2025-11-04T05:29:35.975Z","id":"5lukauv0xaLCUO3C","name":"AI Assistant","active":true,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-128,240],"id":"c7f24b0b-2bf9-4fe2-9d0a-2fc5e70ce9cc","name":"Telegram Trigger","webhookId":"f0e60e54-ea66-4f00-9987-4fd1da41ec01","credentials":{"telegramApi":{"id":"lK02YtuNudQss08S","name":"Telegram account"}}},{"parameters":{"inputText":"={{ $json.message.text }}","categories":{"categories":[{"category":"NotionManagement","description":"when the user's message explicitly mentions 'Notion'."},{"category":"UncertainIntent","description":"when there is no clear match anything."},{"category":"ProgressiveManagement","description":"when the user's message explicitly mentions 'update', 'อัพเดท'."},{"category":"EmailAgent","description":"when the user's message explicitly mentions 'email', 'อีเมล์'."},{"category":"DDCMGenText","description":"when the user's message explicitly mentions 'ddcm'"},{"category":"MDogGenPost","description":"when the user's message explicitly mentions 'mdog''"}]},"options":{"systemPromptTemplate":"=You are an intelligent AI agent specialized in classifying user intentions in task automation workflows.\nONLY OUTPUT 1 CHOICE."}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1,"position":[80,240],"id":"3d081622-05aa-4261-bcb7-3cab4f1c2dc8","name":"Text Classifier","onError":"continueErrorOutput"},{"parameters":{"content":"## Main process","height":540,"width":1000,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-160,48],"id":"4b65fdf2-164b-4c59-8415-42ecde3f5fa6","name":"Sticky Note7"},{"parameters":{"chatId":"=8184052957","text":"=ขอโทษน้าา เค้าไม่เข้าใจง่าา พิมพ์ใหม่ได้มั้ยคั้บบ","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[640,272],"id":"199f7ab8-a125-461d-aaae-76e1ab615041","name":"Unmatch message","webhookId":"2ab05328-c0b6-462c-a662-2264114c417f","credentials":{"telegramApi":{"id":"lK02YtuNudQss08S","name":"Telegram account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"kHgYyg6h1dWaqpyW","mode":"list","cachedResultUrl":"/workflow/kHgYyg6h1dWaqpyW","cachedResultName":"Notion Workflow"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[640,64],"id":"bae99f4a-18f6-4e98-855e-f941e5042eb4","name":"Notion task agent"},{"parameters":{"workflowId":{"__rl":true,"value":"y2O53ZDruHZmodMs","mode":"list","cachedResultUrl":"/workflow/y2O53ZDruHZmodMs","cachedResultName":"Progressive update"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[640,480],"id":"73d4544c-4831-4966-a798-311bd872f6cc","name":"Progressive Agent"},{"parameters":{"workflowId":{"__rl":true,"value":"S22CzqhcoPT38bac","mode":"list","cachedResultUrl":"/workflow/S22CzqhcoPT38bac","cachedResultName":"Send Email Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[640,672],"id":"d2ae8030-8c95-4c0c-bfce-720ff7331307","name":"Send email agent"},{"parameters":{"model":"openai/gpt-4o-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[80,560],"id":"d2cc6292-bc90-4ab7-abc0-08386302713a","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"4o8miL0qoBa3RbWC","name":"OpenRouter account"}}},{"parameters":{"chatId":"=8184052957","text":"=เซิร์ฟเวอร์เป็นอะไรไม่รู้ง่าา ว่างแล้วเข้ามาเช็คให้หน่อยน้าา","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[640,1296],"id":"ae0af283-acd8-4c9b-804f-c78cb8c4da81","name":"Unknown error","webhookId":"2ab05328-c0b6-462c-a662-2264114c417f","credentials":{"telegramApi":{"id":"lK02YtuNudQss08S","name":"Telegram account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"PyDguwKuWHIVjI3a","mode":"list","cachedResultUrl":"/workflow/PyDguwKuWHIVjI3a","cachedResultName":"DDCM Gen text"},"workflowInputs":{"mappingMode":"defineBelow","value":{}},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[640,864],"id":"6cf53a37-9cd5-4291-97db-7ab7784a6aba","name":"Call 'DDCM Gen text'"},{"parameters":{"workflowId":{"__rl":true,"value":"zRfovlkNLxUnM6ld","mode":"list","cachedResultUrl":"/workflow/zRfovlkNLxUnM6ld","cachedResultName":"MDog Gen Posts"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[640,1088],"id":"19040e7a-b194-4330-8cad-15dff72db0f6","name":"Call MDog gen posts"}],"connections":{"Telegram Trigger":{"main":[[{"node":"Text Classifier","type":"main","index":0}]]},"Text Classifier":{"main":[[{"node":"Notion task agent","type":"main","index":0}],[{"node":"Unmatch message","type":"main","index":0}],[{"node":"Progressive Agent","type":"main","index":0}],[{"node":"Send email agent","type":"main","index":0}],[{"node":"Call 'DDCM Gen text'","type":"main","index":0}],[{"node":"Call MDog gen posts","type":"main","index":0}],[{"node":"Unknown error","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Text Classifier","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a7a30e5c-1ada-442e-af6e-014bdcbf02ee","triggerCount":1,"tags":[],"shared":[{"updatedAt":"2025-11-04T05:29:35.975Z","createdAt":"2025-11-04T05:29:35.975Z","role":"workflow:owner","workflowId":"5lukauv0xaLCUO3C","projectId":"p4rUtUQmpiuYMcpU","project":{"updatedAt":"2025-11-01T17:18:40.170Z","createdAt":"2025-11-01T09:21:32.660Z","id":"p4rUtUQmpiuYMcpU","name":"cheetah mufasa <cheetah5900@windowslive.com>","type":"personal","icon":null,"description":null}}]}