n8n/demo-data/workflows/9oXiaxI9sItmaiWg.json
{"updatedAt":"2025-11-04T06:45:44.019Z","createdAt":"2025-11-04T05:29:59.616Z","id":"9oXiaxI9sItmaiWg","name":"-RAG Qdrant","active":false,"isArchived":false,"nodes":[{"parameters":{"dataType":"binary","binaryMode":"specificField","binaryDataKey":"=data","options":{"metadata":{"metadataValues":[{"name":"file_id","value":"={{ $('Loop Over Items').item.json.id }}"},{"name":"file_name","value":"={{ $('Loop Over Items').item.json.name }}"}]}}},"id":"c621e05a-99ae-4991-af4b-415d512309fd","name":"Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","position":[2624,896],"typeVersion":1},{"parameters":{"chunkSize":400,"chunkOverlap":80},"id":"cfe3b3a3-7ae7-4a1b-a290-a537740d3ea0","name":"Token Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterTokenSplitter","position":[2624,1056],"typeVersion":1},{"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"mode":"id","value":"=nostr-damus-user-profiles"},"options":{}},"id":"f4e0d7c8-485f-4ce0-9721-dd8335ff9d4b","name":"Qdrant Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","position":[2448,624],"executeOnce":false,"retryOnFail":true,"typeVersion":1,"credentials":{"qdrantApi":{"id":"sFfERYppMeBnFNeA","name":"Local QdrantApi database"}},"onError":"continueRegularOutput"},{"parameters":{"options":{}},"id":"4a5690f2-6749-40d9-94f8-4de40df77474","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[1888,416],"typeVersion":3,"onError":"continueRegularOutput"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"id":"4dc1ae94-e176-41f6-aee5-caac3fb8e2c6","name":"Download File From Google Drive","type":"n8n-nodes-base.googleDrive","position":[2048,592],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"lmtowuNCOiCzZGQa","name":"Google Drive account"}}},{"parameters":{"resource":"fileFolder","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"={{ $json.folder_id }}","mode":"id"}},"options":{}},"id":"06a6efb4-bf7c-4319-ad17-adbda377a25c","name":"Find File Ids in Google Drive Folder","type":"n8n-nodes-base.googleDrive","position":[2112,176],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"lmtowuNCOiCzZGQa","name":"Google Drive account"}}},{"parameters":{"model":"text-embedding-3-large","options":{}},"id":"b408e300-15bd-488d-90c8-99ed93b8bfe0","name":"text-embeddings-3-large","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","position":[2496,896],"typeVersion":1,"credentials":{"openAiApi":{"id":"UX8ZkTdeaspBDOjh","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"e6f6188f-c895-4c8c-b39a-0ef55b490fd6","name":"folder_id","type":"string","value":"1ckVOY7u6u3ACtf3-vzmA-f4NkDCk9gc7"}]},"options":{}},"id":"6cb41588-7632-4e1e-90ab-09358d793690","name":"Google Folder ID","type":"n8n-nodes-base.set","position":[1888,176],"typeVersion":3.4},{"parameters":{"operation":"sendAndWait","chatId":"=8184052957","message":"=คำเตือนค่าาา - เค้าจะลบคอลเล็คชั่นใน Qrant ชื่อ {{ $json.qdrant_collection_name }} น้าา แน่ใจใช่มั้ยงับบ ?","approvalOptions":{"values":{"approvalType":"double"}},"options":{"limitWaitTime":{"values":{"resumeAmount":15,"resumeUnit":"minutes"}},"appendAttribution":false}},"id":"651c91f9-3f4d-4201-ae03-235d20598d4c","name":"Confirm Qdrant Delete Points","type":"n8n-nodes-base.telegram","position":[816,176],"webhookId":"29aac1ac-9345-4e44-babf-ebcfae701d88","typeVersion":1.2,"credentials":{"telegramApi":{"id":"lK02YtuNudQss08S","name":"Telegram account"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"20f530d6-fd55-420d-b8a9-70e5303f688e","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.data.approved }}","rightValue":""}]},"options":{}},"id":"26aef673-01bd-4a2f-a75c-e34c2519c7c3","name":"If","type":"n8n-nodes-base.if","position":[832,480],"typeVersion":2.2},{"parameters":{"chatId":"=8184052957","text":"เปลี่ยนใจไม่ลบใช่มั้ยล่ะะ ดีแล้วที่ดูดีๆก่อนน ถ้าพลาดลบไปนี่แย่เลยย :D","additionalFields":{"appendAttribution":false}},"id":"9c49b06d-2327-4eb9-8b7b-a5c3149ebf32","name":"Send Declined Message","type":"n8n-nodes-base.telegram","position":[1136,544],"webhookId":"382a3b43-b83f-47b1-a276-67c6b98a441a","typeVersion":1.2,"credentials":{"telegramApi":{"id":"lK02YtuNudQss08S","name":"Telegram account"}}},{"parameters":{"content":"## Delete From Qdrant Vector Store\nThis operation can not be undone!!!","height":400,"width":420,"color":5},"id":"a092b0e3-83bb-4ebf-95c2-a67bbb3d54d1","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[1296,96],"typeVersion":1},{"parameters":{"content":"## Human In The Loop\nUser must verify deletion of points from Qdrant vector store","height":520,"width":380,"color":4},"id":"f927a10f-e6a0-4744-ba27-e99a874b824f","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[672,64],"typeVersion":1},{"parameters":{"content":"# Step 1 - Save Documents to Qdrant Vector Store","height":1320,"width":2640,"color":7},"id":"2462b1e1-5705-43b7-b416-a6082a7c4810","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","position":[464,-128],"typeVersion":1},{"parameters":{"content":"# Step 2 - Chat with Your Documents from Qdrant Vector Store","height":880,"width":1060,"color":7},"id":"07a3faf4-a8cc-4404-afd9-806e142f6a86","name":"Sticky Note12","type":"n8n-nodes-base.stickyNote","position":[640,784],"typeVersion":1,"disabled":true},{"parameters":{"chatId":"=8184052957","text":"Qdrant vector store upsert completed","additionalFields":{"appendAttribution":false}},"id":"512039d1-0fb7-445c-a732-d97bd5c967dd","name":"Send Completed Message","type":"n8n-nodes-base.telegram","position":[2704,336],"webhookId":"382a3b43-b83f-47b1-a276-67c6b98a441a","typeVersion":1.2,"credentials":{"telegramApi":{"id":"lK02YtuNudQss08S","name":"Telegram account"}}},{"parameters":{"content":"## Prepare Qdrant Vector Store","height":760,"width":1180,"color":3},"id":"fbb3e2b2-f7c2-4797-846f-aee767d91bc1","name":"Sticky Note15","type":"n8n-nodes-base.stickyNote","position":[592,-16],"typeVersion":1},{"parameters":{"content":"## 🌟Workflow Config\n\n- Google Drive Folder Id\n- Qdrant Collection Name\n- List of Google Drive File Id's","height":840,"width":480},"id":"dd4b9112-8113-4a15-ac37-4fb4371e42aa","name":"Sticky Note17","type":"n8n-nodes-base.stickyNote","position":[1824,-16],"typeVersion":1},{"parameters":{"sessionIdType":"customKey","sessionKey":"session_keys","contextWindowLength":40},"id":"0012e8ac-34fb-4fde-b896-0352edba38f8","name":"Window Buffer Memory1","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[1056,1232],"typeVersion":1.3},{"parameters":{"chatId":"8184052957","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1344,1024],"id":"b4f7d5a4-4e66-4159-87b1-1071417e67dc","name":"Send a text message","webhookId":"abce4d1c-496d-4183-a458-93526f6ba0f5","credentials":{"telegramApi":{"id":"lK02YtuNudQss08S","name":"Telegram account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"id":"6612a6d8-49c9-4645-89ed-7e93107ab005","name":"OpenAI Chat Model2","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[896,1232],"typeVersion":1.2,"credentials":{"openAiApi":{"id":"UX8ZkTdeaspBDOjh","name":"OpenAi account"}}},{"parameters":{"mode":"retrieve-as-tool","toolName":"nostr_damus_user_profiles","toolDescription":"Retrieve information about Nostr or Damus users","qdrantCollection":{"__rl":true,"value":"nostr-damus-user-profiles","mode":"list","cachedResultName":"nostr-damus-user-profiles"},"topK":20,"options":{}},"id":"8786d532-d561-4dfa-aae7-5936d7ab499e","name":"Qdrant Vector Store Tool","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","position":[1216,1232],"typeVersion":1,"credentials":{"qdrantApi":{"id":"sFfERYppMeBnFNeA","name":"Local QdrantApi database"}}},{"parameters":{"content":"## 🤖Retrieve Content from Qdrant Vector Store","height":620,"width":860,"color":5},"id":"597b0cd7-a090-483f-9a68-9e76a0bf794b","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","position":[736,944],"typeVersion":1},{"parameters":{"model":"text-embedding-3-large","options":{}},"id":"359d747f-1268-437f-afd4-d115135a196b","name":"text-embeddings-3-large1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","position":[1312,1392],"typeVersion":1,"credentials":{"openAiApi":{"id":"UX8ZkTdeaspBDOjh","name":"OpenAi account"}}},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[2448,336],"id":"0e873f1b-ace6-4793-b207-31690e5c2768","name":"Limit"},{"parameters":{"resource":"collection","operation":"deleteCollection"},"type":"n8n-nodes-preview-qdrant.qdrant","typeVersion":1,"position":[1456,192],"id":"055379b2-36a0-4322-92b3-a308a6258424","name":"Delete Collection","alwaysOutputData":false,"credentials":{}},{"parameters":{"content":"## GGGGGGGGGGGGG","height":1200,"width":680,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2352,-16],"id":"172ae8bd-350f-4263-b8ac-2f5ce7d6339a","name":"Sticky Note"},{"parameters":{"workflowInputs":{"values":[{"name":"query"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-416,1104],"id":"f292b3f4-8308-424d-81ba-1a9aed5bdeda","name":"When Executed by Another Workflow"},{"parameters":{"promptType":"define","text":"={{ $('When Executed by Another Workflow').item.json.query }}","options":{"systemMessage":"=You are an intelligent assistant specialized in answering user questions. Your primary goal is to provide precise, contextually relevant, and concise answers exclusively based on the information retrieved from the available tools.\n\nTools\nUse the \"nostr_damus_user_profiles\" tool to:\n- perform semantic similarity searches and retrieve information from Nostr user profiles relevant to the user's query.\n- access detailed information about Nostr and/or Damus users when additional context or specifics are required.\n\nRules\nMandatory Tool Usage:\n- Always call the nostr_damus_user_profiles tool with the user's entire query as the query parameter. This is the first and only step you should take to find information.\n- Do not attempt to answer from your internal knowledge.\n- Do not ask clarifying questions before using the tool.\n\nOutput\n- All responses must be in Thai language.\nIf the tool returns relevant information:\n- Clearly explain how the retrieved information addresses the user's query.\n- Synthesize the information concisely.\n- Include the source file, referencing it at the end of the relevant information in the following format:\n[ที่มา: <ชื่อไฟล์>]\n(ตัวอย่าง: [ที่มา: รายงานประจำปี 2567.pdf])\n\nNote: For the agent to cite the source file, the nostr_damus_user_profiles tool must provide this information in its output (e.g., as source_file field in the tool's JSON response). If the tool does not provide this, the agent will not be able to fulfill this requirement.\n\nIf the tool returns no relevant information or an empty result:\n- Respond with this sentence \"ไม่พบข้อมูลในแหล่งข้อมูลที่ใช้งานได้\""}},"id":"dfed8554-ae0a-4426-a67e-b3a10f42a461","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[1040,1040],"typeVersion":1.7},{"parameters":{"inputText":"={{ $('When Executed by Another Workflow').item.json.query }}","categories":{"categories":[{"category":"AddDataToQdrant","description":"when the user explicitly wants to add, upload, save, or store new files or data into Qdrant.     Keywords: `upload`, `add file`, `save document`, `store data`, `เพิ่มไฟล์`, `แนบไฟล์`, `บันทึกลง Qdrant`, `เก็บข้อมูล`."},{"category":"SearchDataInQdrant","description":"when the user explicitly wants to retrieve, search, summarize, or ask questions about existing information in Qdrant using RAG.     Keywords: `search`, `retrieve`, `summarize`, `ask question`, `สรุปข้อมูล`, `ค้นหาไฟล์`, `ถามข้อมูล`, `ขอดูข้อมูลจากฐาน`, `มีข้อมูลอะไรบ้าง`."},{"category":"UncertainIntent","description":"when there is no clear match"}]},"options":{"systemPromptTemplate":"=## 🧾 Who you are and your role\n\nYou are an intelligent AI agent specialized in classifying user intentions specifically related to Qdrant data operations.\n\n---\n\n## 🎯 Your mission and what success looks like\n\nYour mission is to analyze user messages and correctly classify them into one of two precise categories, focusing solely on the user's interaction with Qdrant:\n\n1.  `AddDataToQdrant` – when the user explicitly wants to add, upload, save, or store new files or data into Qdrant.\n    Keywords: `upload`, `add file`, `save document`, `store data`, `เพิ่มไฟล์`, `แนบไฟล์`, `บันทึกลง Qdrant`, `เก็บข้อมูล`.\n2.  `SearchDataInQdrant` – when the user explicitly wants to retrieve, search, summarize, or ask questions about existing information in Qdrant using RAG.\n    Keywords: `search`, `retrieve`, `summarize`, `ask question`, `สรุปข้อมูล`, `ค้นหาไฟล์`, `ถามข้อมูล`, `ขอดูข้อมูลจากฐาน`, `มีข้อมูลอะไรบ้าง`.\n3. `UncertainQdrantIntent` - when the intention related to Qdrant is unclear or does not fit either \"add\" or \"search\".\n\n## 🧠 Rules\n\n- Output **only one** of these three values: `AddDataToQdrant`, `SearchDataInQdrant`, `UncertainQdrantIntent`\n- Never return multiple outputs.\n- Never proceed if the Qdrant-specific intent is unclear — always choose `UncertainQdrantIntent` to prevent incorrect operations.\n\n---\n\n## 🧪 Examples\n\n| 🗨️ User Message | ✅ Expected Output |\n| --- | --- |\n| ช่วยอัปโหลดไฟล์รายงานเข้า Qdrant ให้หน่อย | `AddDataToQdrant` |\n| มีข้อมูลอะไรบ้างในไฟล์เดือนมีนาคมที่เคยอัปโหลด | `SearchDataInQdrant` |\n| แนบไฟล์ Excel ให้แล้ว ช่วยเก็บไว้ | `AddDataToQdrant` |\n| ผมอยากได้ข้อมูลจากไฟล์ประชุมเมื่อวาน | `SearchDataInQdrant` |\n| สรุปข้อมูลจาก Qdrant ให้หน่อย | `SearchDataInQdrant` |\n| ค้นหาเอกสารเกี่ยวกับนโยบายบริษัท | `SearchDataInQdrant` |\n| บันทึกเอกสารนี้ลง Qdrant | `AddDataToQdrant` |\n| ถามเกี่ยวกับโปรเจกต์ X ใน Qdrant | `SearchDataInQdrant` |\n| ไม่แน่ใจว่าจะทำอะไรกับ Qdrant | `UncertainQdrantIntent` |\n"}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1,"position":[-32,1072],"id":"86c7ba70-3f72-4465-aa0c-07dad0d9bff0","name":"Text Classifier","retryOnFail":false,"onError":"continueErrorOutput"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-32,1360],"id":"b8ac39c0-477f-4b95-845f-d1b013992861","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"UX8ZkTdeaspBDOjh","name":"OpenAi account"}}},{"parameters":{"chatId":"=8184052957","text":"ยังไงนะคะ เค้าไม่เข้าใจว่าอยากอัพเดท หรือหาข้อมูลใน Vector db ง่าา","additionalFields":{"appendAttribution":false}},"id":"61624ee6-6935-4726-9b80-a53d6484d0d8","name":"Send Unintent Message","type":"n8n-nodes-base.telegram","position":[352,1200],"webhookId":"382a3b43-b83f-47b1-a276-67c6b98a441a","typeVersion":1.2,"credentials":{"telegramApi":{"id":"lK02YtuNudQss08S","name":"Telegram account"}}},{"parameters":{"chatId":"=8184052957","text":"กำลังเพิ่มข้อมูลเข้า Vector Database ให้คั้บบ รอแปปนึงน้าา ~","additionalFields":{"appendAttribution":false}},"id":"a941b6bc-9661-43b1-a40e-d4fe68622d34","name":"Tell a user for starting adding","type":"n8n-nodes-base.telegram","position":[240,624],"webhookId":"382a3b43-b83f-47b1-a276-67c6b98a441a","typeVersion":1.2,"credentials":{"telegramApi":{"id":"lK02YtuNudQss08S","name":"Telegram account"}}},{"parameters":{"chatId":"=8184052957","text":"=กำลังดู RAG Agent ให้อยู่งับบบ รอแปปนึงน้าา","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-224,1104],"id":"4f376edd-a4af-4313-a279-34eda8566ac2","name":"RAG Agent Loading...","webhookId":"2ab05328-c0b6-462c-a662-2264114c417f","credentials":{"telegramApi":{"id":"lK02YtuNudQss08S","name":"Telegram account"}}},{"parameters":{"chatId":"=8184052957","text":"เจอ Error อะไรไม่รู้ง่าา เข้ามาดูให้หน่อยนะคะ","additionalFields":{"appendAttribution":false}},"id":"b9057012-056e-4567-ad52-1e52eedf2f10","name":"Send unknown error","type":"n8n-nodes-base.telegram","position":[336,1408],"webhookId":"382a3b43-b83f-47b1-a276-67c6b98a441a","typeVersion":1.2,"credentials":{"telegramApi":{"id":"lK02YtuNudQss08S","name":"Telegram account"}}}],"connections":{"Data Loader":{"ai_document":[[{"node":"Qdrant Vector Store","type":"ai_document","index":0}]]},"Token Splitter":{"ai_textSplitter":[[{"node":"Data Loader","type":"ai_textSplitter","index":0}]]},"Qdrant Vector Store":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Limit","type":"main","index":0}],[{"node":"Download File From Google Drive","type":"main","index":0}]]},"Download File From Google Drive":{"main":[[{"node":"Qdrant Vector Store","type":"main","index":0}]]},"Find File Ids in Google Drive Folder":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"text-embeddings-3-large":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]},"Google Folder ID":{"main":[[{"node":"Find File Ids in Google Drive Folder","type":"main","index":0}]]},"Confirm Qdrant Delete Points":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[],[{"node":"Send Declined Message","type":"main","index":0}]]},"Window Buffer Memory1":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Qdrant Vector Store Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"text-embeddings-3-large1":{"ai_embedding":[[{"node":"Qdrant Vector Store Tool","type":"ai_embedding","index":0}]]},"Limit":{"main":[[{"node":"Send Completed Message","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"RAG Agent Loading...","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Text Classifier":{"main":[[{"node":"Tell a user for starting adding","type":"main","index":0}],[{"node":"AI Agent","type":"main","index":0}],[{"node":"Send Unintent Message","type":"main","index":0}],[{"node":"Send unknown error","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Text Classifier","type":"ai_languageModel","index":0}]]},"Tell a user for starting adding":{"main":[[{"node":"Confirm Qdrant Delete Points","type":"main","index":0}]]},"RAG Agent Loading...":{"main":[[{"node":"Text Classifier","type":"main","index":0}]]},"Send Declined Message":{"main":[[{"node":"Delete Collection","type":"main","index":0}]]},"Delete Collection":{"main":[[{"node":"Google Folder ID","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"query":"ดูคู่มือ Proofpoint ใน Rag หน่อยว่า ตั้งค่า ADFS ยังไง"}}]},"versionId":"ad508aee-a761-4c89-8106-85704640728a","triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-11-04T05:29:59.616Z","createdAt":"2025-11-04T05:29:59.616Z","role":"workflow:owner","workflowId":"9oXiaxI9sItmaiWg","projectId":"p4rUtUQmpiuYMcpU","project":{"updatedAt":"2025-11-01T17:18:40.170Z","createdAt":"2025-11-01T09:21:32.660Z","id":"p4rUtUQmpiuYMcpU","name":"cheetah mufasa <cheetah5900@windowslive.com>","type":"personal","icon":null,"description":null}}]}