n8n/demo-data/workflows/9ZsfV8OO6tqEd2JL.json
{"updatedAt":"2025-12-09T08:09:49.830Z","createdAt":"2025-11-04T05:35:34.736Z","id":"9ZsfV8OO6tqEd2JL","name":"Triggered Email agent","active":true,"isArchived":false,"nodes":[{"parameters":{"options":{}},"id":"54842744-9288-4cba-9d27-00ba8efb82ab","name":"Email Trigger (IMAP)","type":"n8n-nodes-base.emailReadImap","position":[-1136,128],"typeVersion":2,"credentials":{"imap":{"id":"8AS4srYagfep824e","name":"IMAP account"}}},{"parameters":{"model":"openai/gpt-4o-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-576,368],"id":"a98cd945-e680-413b-bd71-b3976593632b","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"4o8miL0qoBa3RbWC","name":"OpenRouter account"}}},{"parameters":{"promptType":"define","text":"={{ $('Email Trigger (IMAP)').item.json.textPlain }}","hasOutputParser":true,"options":{"systemMessage":"You are a helpful assistant. Your role is summarizing and translating from English to Thai language briefly.\n\nOutput only summary in Thai language only"}},"id":"e39ad3e0-8a4f-4e3c-81b8-b6cf6d3e9ecb","name":"Translator","type":"@n8n/n8n-nodes-langchain.agent","position":[-576,128],"typeVersion":1.7},{"parameters":{"chatId":"8184052957","text":"=ส่งแจ้งเตือนเมล์ไม่ได้ ติดอะไรไม่รู้","additionalFields":{"appendAttribution":false,"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[416,192],"id":"620b9b0c-660c-4594-9ed3-d6469067af17","name":"Error text","webhookId":"b64a0881-7bd4-42e7-978b-682b6374745e","retryOnFail":true,"credentials":{"telegramApi":{"id":"lK02YtuNudQss08S","name":"Telegram account"}},"onError":"continueErrorOutput"},{"parameters":{"chatId":"8184052957","text":"=From: {{ $('Markdown').item.json.metadata['return-path'] }}\nTopic: {{ $('Markdown').item.json.subject }}","additionalFields":{"appendAttribution":false,"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-48,160],"id":"fdb53423-e9d3-4d23-ad9e-5179b604bd31","name":"Send only topic","webhookId":"b64a0881-7bd4-42e7-978b-682b6374745e","retryOnFail":true,"credentials":{"telegramApi":{"id":"lK02YtuNudQss08S","name":"Telegram account"}},"onError":"continueErrorOutput"},{"parameters":{"chatId":"8184052957","text":"={{ $('Code').item.json.fixed_url }}\n\n=== Original Message ===\n{{ $('Markdown').item.json.textPlain }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[192,80],"id":"f26fd766-4d34-43dd-a9a5-f07fc38d1ad6","name":"Send only content","webhookId":"b64a0881-7bd4-42e7-978b-682b6374745e","retryOnFail":true,"credentials":{"telegramApi":{"id":"lK02YtuNudQss08S","name":"Telegram account"}},"onError":"continueErrorOutput"},{"parameters":{"chatId":"8184052957","text":"=From: {{ $('Sender').item.json.from }}\nTo: {{ $('Receiver').item.json.to }}\n\nBreif: {{ $json.output }}\n","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-256,128],"id":"09edd196-15d6-48c4-98b8-61962173ccaf","name":"Send All","webhookId":"b64a0881-7bd4-42e7-978b-682b6374745e","retryOnFail":true,"credentials":{"telegramApi":{"id":"lK02YtuNudQss08S","name":"Telegram account"}},"onError":"continueErrorOutput"},{"parameters":{"chatId":"8184052957","text":"=//","additionalFields":{"appendAttribution":false,"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-80,-80],"id":"10e12e5b-4051-4cb1-9fae-83cea3048d6d","name":"Send //","webhookId":"b64a0881-7bd4-42e7-978b-682b6374745e","retryOnFail":true,"credentials":{"telegramApi":{"id":"lK02YtuNudQss08S","name":"Telegram account"}},"onError":"continueErrorOutput"},{"parameters":{"chatId":"8184052957","text":"=//","additionalFields":{"appendAttribution":false,"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[464,-48],"id":"a20d3bd9-468c-4014-8d9f-41b28414745a","name":"Send //1","webhookId":"b64a0881-7bd4-42e7-978b-682b6374745e","retryOnFail":true,"credentials":{"telegramApi":{"id":"lK02YtuNudQss08S","name":"Telegram account"}},"onError":"continueErrorOutput"},{"parameters":{"chatId":"8184052957","text":"=//","additionalFields":{"appendAttribution":false,"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[672,192],"id":"03d15061-da80-4d55-a3ee-78edea247edc","name":"Send //2","webhookId":"b64a0881-7bd4-42e7-978b-682b6374745e","retryOnFail":true,"credentials":{"telegramApi":{"id":"lK02YtuNudQss08S","name":"Telegram account"}},"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"2db6d5e5-4585-4e2f-9cf1-acc13775c208","name":"from","value":"={{ $json.from }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-960,128],"id":"9c48a138-2f09-4dbf-b60d-34d77a7b6e85","name":"Sender"},{"parameters":{"assignments":{"assignments":[{"id":"2db6d5e5-4585-4e2f-9cf1-acc13775c208","name":"to","value":"={{ $('Email Trigger (IMAP)').item.json.to }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-784,128],"id":"18429f48-6465-4a2e-a7a4-043702cb15a1","name":"Receiver"}],"connections":{"Email Trigger (IMAP)":{"main":[[{"node":"Sender","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Translator","type":"ai_languageModel","index":0}]]},"Translator":{"main":[[{"node":"Send All","type":"main","index":0}]]},"Send only content":{"main":[[{"node":"Send //1","type":"main","index":0}],[{"node":"Error text","type":"main","index":0}]]},"Send only topic":{"main":[[{"node":"Send only content","type":"main","index":0}],[{"node":"Error text","type":"main","index":0}]]},"Send All":{"main":[[{"node":"Send //","type":"main","index":0}],[{"node":"Send only topic","type":"main","index":0}]]},"Error text":{"main":[[{"node":"Send //2","type":"main","index":0}]]},"Sender":{"main":[[{"node":"Receiver","type":"main","index":0}]]},"Receiver":{"main":[[{"node":"Translator","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Email Trigger (IMAP)":{}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Email Trigger (IMAP)":[{"json":{"textHtml":"<div style=\"font-size: 13px; font-family: Arial, Helvetica, Verdana, sans-serif\"><div style=\"font-size: 13px; font-family: Arial, Helvetica, Verdana, sans-serif\"><div style=\"font-size: 13px; font-family: Arial, Helvetica, Verdana, sans-serif\"><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin: 0px; background: rgb(242, 242, 242)\" width=\"100%\"><tbody><tr><td style=\"padding: 30px 20px\" valign=\"top\"><table cellpadding=\"0\" cellspacing=\"0\" style=\"margin: 0px auto\" width=\"90%\"><tbody><tr><td valign=\"top\" style=\"border: 1px solid rgb(218, 218, 218); background-color: rgb(255, 255, 255); padding: 30px\"><div style=\"line-height: 24px\"><div style=\"line-height: 24px\"><font color=\"#222222\" face=\"lucida grande, lucida sans, lucida sans unicode, arial, helvetica, verdana, sans-serif\"><span style=\"font-size: 14px\">Dear Nutthapong.v,</span></font></div><div style=\"line-height: 24px\"><font color=\"#222222\" face=\"lucida grande, lucida sans, lucida sans unicode, arial, helvetica, verdana, sans-serif\"><span style=\"font-size: 14px\"><br /></span></font></div><div style=\"line-height: 24px\"><font color=\"#222222\" face=\"lucida grande, lucida sans, lucida sans unicode, arial, helvetica, verdana, sans-serif\"><span style=\"font-size: 14px\">Your ticket &quot;246591 Zoho Test: On hold Customer Pending &quot; has been Closed.</span></font></div><div style=\"line-height: 24px\"><font color=\"#222222\" face=\"lucida grande, lucida sans, lucida sans unicode, arial, helvetica, verdana, sans-serif\"><span style=\"font-size: 14px\">We hope that we&#39;ve helped you to the best of your satisfaction. To re-open this ticket simply reply to this email.</span></font></div><div style=\"line-height: 24px\"><font color=\"#222222\" face=\"lucida grande, lucida sans, lucida sans unicode, arial, helvetica, verdana, sans-serif\"><span style=\"font-size: 14px\"><br /></span></font></div><div style=\"line-height: 24px\"><font color=\"#222222\" face=\"lucida grande, lucida sans, lucida sans unicode, arial, helvetica, verdana, sans-serif\"><span style=\"font-size: 14px\">Please do not reply to this e-mail.</span></font></div><div style=\"line-height: 24px\"><font color=\"#222222\" face=\"lucida grande, lucida sans, lucida sans unicode, arial, helvetica, verdana, sans-serif\"><span style=\"font-size: 14px\"><br /></span></font></div><div style=\"line-height: 24px\"><font color=\"#222222\" face=\"lucida grande, lucida sans, lucida sans unicode, arial, helvetica, verdana, sans-serif\"><span style=\"font-size: 14px\">Regards,</span></font></div><div style=\"line-height: 24px\"><font color=\"#222222\" face=\"lucida grande, lucida sans, lucida sans unicode, arial, helvetica, verdana, sans-serif\"><span style=\"font-size: 14px\">Softde&#39;but Co.,Ltd. Support Team.</span></font></div><div style=\"line-height: 24px\"><font color=\"#222222\" face=\"lucida grande, lucida sans, lucida sans unicode, arial, helvetica, verdana, sans-serif\"><span style=\"font-size: 14px\"><br /></span></font></div><div style=\"line-height: 24px\"><font color=\"#222222\" face=\"lucida grande, lucida sans, lucida sans unicode, arial, helvetica, verdana, sans-serif\"><span style=\"font-size: 14px\">à¹à¸£à¸µà¸¢à¸ à¸à¸¸à¸ Nutthapong.v,</span></font></div><div style=\"line-height: 24px\"><font color=\"#222222\" face=\"lucida grande, lucida sans, lucida sans unicode, arial, helvetica, verdana, sans-serif\"><span style=\"font-size: 14px\"><br /></span></font></div><div style=\"line-height: 24px\"><font color=\"#222222\" face=\"lucida grande, lucida sans, lucida sans unicode, arial, helvetica, verdana, sans-serif\"><span style=\"font-size: 14px\">ticket ID 246591 à¸«à¸±à¸§à¸à¹à¸­ &quot;Zoho Test: On hold Customer Pending &quot; à¹à¸à¹à¸à¸¹à¸à¸à¸´à¸à¸¥à¸à¹à¸¥à¹à¸§</span></font></div><div style=\"line-height: 24px\"><font color=\"#222222\" face=\"lucida grande, lucida sans, lucida sans unicode, arial, helvetica, verdana, sans-serif\"><span style=\"font-size: 14px\">à¸à¸²à¸à¹à¸£à¸²à¸«à¸§à¸±à¸à¸§à¹à¸²à¸à¸°à¸ªà¸²à¸¡à¸²à¸£à¸à¸à¹à¸§à¸¢à¹à¸«à¹à¸à¸¸à¸à¹à¸à¹à¸£à¸±à¸à¸à¸§à¸²à¸¡à¸à¸¶à¸à¸à¸­à¹à¸à¸ªà¸¹à¸à¸ªà¸¸à¸ à¸«à¸²à¸à¸¢à¸±à¸à¸à¸à¸à¸±à¸à¸«à¸²à¸ªà¸²à¸¡à¸²à¸£à¸ re-open ticket à¹à¸à¸¢à¸à¸­à¸à¸à¸¥à¸±à¸à¸­à¸µà¹à¸¡à¸¥à¹à¸à¸à¸±à¸à¸à¸µà¹</span></font></div><div style=\"line-height: 24px\"><font color=\"#222222\" face=\"lucida grande, lucida sans, lucida sans unicode, arial, helvetica, verdana, sans-serif\"><span style=\"font-size: 14px\"><br /></span></font></div><div style=\"line-height: 24px\"><font color=\"#222222\" face=\"lucida grande, lucida sans, lucida sans unicode, arial, helvetica, verdana, sans-serif\"><span style=\"font-size: 14px\">à¸à¹à¸§à¸¢à¸à¸§à¸²à¸¡à¸à¸±à¸à¸à¸·à¸­</span></font></div><div style=\"line-height: 24px\"><font color=\"#222222\" face=\"lucida grande, lucida sans, lucida sans unicode, arial, helvetica, verdana, sans-serif\"><span style=\"font-size: 14px\">Softde&#39;but Co.,Ltd. Support Team.</span></font></div><font color=\"#222222\" face=\"lucida grande, lucida sans, lucida sans unicode, arial, helvetica, verdana, sans-serif\"><span style=\"font-size: 14px\"></span></font></div> </td> </tr> <tr> <td style=\"padding-top: 5px\" valign=\"top\">  </td> </tr> </tbody> </table> </td> </tr> </tbody> </table><br /></div></div></div><div id =\"ZDeskInteg\"><meta itemprop=\"customRelation\" content=\"{&#34;zmIntegAppId&#34;:&#34;1001&#34;,&#34;entityId&#34;:&#34;156482000111835086&#34;,&#34;orgId&#34;:&#34;637166258&#34;,&#34;ticketId&#34;:&#34;156482000111812572&#34;,&#34;url&#34;:&#34;https://deskportal.softdebut.com/agent/sdbdesk/debutmail/tickets/details/156482000111812572&#34;,&#34;zmaction&#34;:&#34;EMBED&#34;}\"></meta></div>","textPlain":"\r\n\r\nDear Nutthapong.v,\r\nYour ticket \"246591 Zoho Test: On hold Customer Pending \" has been Closed.We \r\nhope that we've helped you to the best of your satisfaction. To re-open this \r\nticket simply reply to this email.\r\nPlease do not reply to this e-mail.\r\nRegards,Softde'but Co.,Ltd. Support Team.\r\nà¹à¸£à¸µà¸¢à¸ à¸à¸¸à¸ Nutthapong.v,\r\nticket ID 246591 à¸«à¸±à¸§à¸à¹à¸­ \"Zoho Test: On hold Customer Pending \" à¹à¸à¹à¸à¸¹à¸à¸à¸´à¸à¸¥à¸à¹à¸¥à¹à¸§\r\nà¸à¸²à¸à¹à¸£à¸²à¸«à¸§à¸±à¸à¸§à¹à¸²à¸à¸°à¸ªà¸²à¸¡à¸²à¸£à¸à¸à¹à¸§à¸¢à¹à¸«à¹à¸à¸¸à¸à¹à¸à¹à¸£à¸±à¸à¸à¸§à¸²à¸¡à¸à¸¶à¸à¸à¸­à¹à¸à¸ªà¸¹à¸à¸ªà¸¸à¸ à¸«à¸²à¸à¸¢à¸±à¸à¸à¸à¸à¸±à¸à¸«à¸²à¸ªà¸²à¸¡à¸²à¸£à¸ \r\nre-open ticket à¹à¸à¸¢à¸à¸­à¸à¸à¸¥à¸±à¸à¸­à¸µà¹à¸¡à¸¥à¹à¸à¸à¸±à¸à¸à¸µà¹\r\nà¸à¹à¸§à¸¢à¸à¸§à¸²à¸¡à¸à¸±à¸à¸à¸·à¸­Softde'but Co.,Ltd. Support Team. \r\n\r\n","metadata":{"dkim-signature":"v=1; a=rsa-sha256; q=dns/txt; c=relaxed/relaxed; d=softdebut.com; s=20211013;\tbh=iwtS5WiqeWw3EUY7vLuHvnxt5cC4lx/OX5iueUAradE=;\th=Content-Type:MIME-Version:Subject:Message-ID:To:From:Date; b=HacbDF4+2ucc6n\tjNBOTm6UIdjxAvPP77EZlh3aS39L8YGFYdkPNZiOvDC/11xcKdmBriZLZSxL0/tJrFzvR1bIXdKzj\t/gGw9ttKSBlggK2EbvAUX57/vpcFag4PdblbjS5niaBY2I2WhUKJn7wKWBtaCXaQ1pcSMVdBLU6cy\tHzVrfnZgT8k67mK8twxeMx512ru6XfdVwqsg2rHGUvqHYZBL9MJt8yac95yItV+YW/8/fnKxweF7r\tHOgfrjxNaZb7gRj4Y5qGyd8CkPZvkFcDbo0krE8F+l73I2VME6VDFbVEEf6U1nbTNIkzxiTomCDvl\tCcwd6Md924M9bTy52LUw==","x-real-to":"nutthapong.v@softdebut.com","return-path":"<support@softdebut.com>","received":"from [136.143.188.130] (account noreply@softdebut.com HELO sendera120.transmail.net)  by softdebut.com (CommuniGate Pro SMTP 6.5.2)  with ESMTPSA id 15112069 for nutthapong.v@softdebut.com; Thu, 13 Nov 2025 17:10:16 +0700","message-id":"<edbsnb7d5d87d858273de2b5c56b31edf6c04f55d8bc2ec4829ffb292a8d67652d362cf76d906845be903a82182d551414f4b_b9s3y_19a7cb1b68a@desk-mailer.zohodesk.com>","mime-version":"1.0","content-type":"multipart/alternative; \tboundary=\"----=_Part_4502_1992786385.1763028613244\"","auto-submitted":"auto-generated","x-zohosupport-notification":"system-generated","x-auto-response-suppress":"All","original-envelope-id":"2d6f.39a6dc9.m1.f17328b0-c078-11f0-a8ef-765e7256bde4.19a7cb1b6bb","x-jid":"2d6f.39a6dc9.r1.f17328b0-c078-11f0-a8ef-765e7256bde4.19a7cb1b6bb","tm-mail-jid":"2d6f.39a6dc9.m1.f17328b0-c078-11f0-a8ef-765e7256bde4.19a7cb1b6bb","x-app-message-id":"2d6f.39a6dc9.m1.f17328b0-c078-11f0-a8ef-765e7256bde4.19a7cb1b6bb","tm-message-id":"<2d6f.39a6dc9.m1.f17328b0-c078-11f0-a8ef-765e7256bde4.19a7cb1b6bb@softdebut.com>"},"attributes":{"uid":780},"date":"Thu, 13 Nov 2025 02:10:13 -0800 (PST)","from":"Support Softdebut <support@softdebut.com>","to":"\"Nutthapong.v\" <nutthapong.v@softdebut.com>","subject":"[##246591##] Your ticket has been Closed: Zoho Test: On hold Customer Pending"}},{"json":{"textHtml":"<div style=\"font-size: 13px; font-family: Arial, Helvetica, Verdana, sans-serif\"><div style=\"font-size: 13px; font-family: Arial, Helvetica, Verdana, sans-serif\"><div style=\"font-size: 13px; font-family: Arial, Helvetica, Verdana, sans-serif\"><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin: 0px; background: rgb(242, 242, 242)\" width=\"100%\"><tbody><tr><td style=\"padding: 30px 20px\" valign=\"top\"><table cellpadding=\"0\" cellspacing=\"0\" style=\"margin: 0px auto\" width=\"90%\"><tbody><tr><td valign=\"top\" style=\"border: 1px solid rgb(218, 218, 218); background-color: rgb(255, 255, 255); padding: 30px\"><div style=\"line-height: 24px\"><div style=\"line-height: 24px\"><font color=\"#222222\" face=\"lucida grande, lucida sans, lucida sans unicode, arial, helvetica, verdana, sans-serif\"><span style=\"font-size: 14px\">Dear Nutthapong.v,</span></font></div><div style=\"line-height: 24px\"><font color=\"#222222\" face=\"lucida grande, lucida sans, lucida sans unicode, arial, helvetica, verdana, sans-serif\"><span style=\"font-size: 14px\"><br /></span></font></div><div style=\"line-height: 24px\"><font color=\"#222222\" face=\"lucida grande, lucida sans, lucida sans unicode, arial, helvetica, verdana, sans-serif\"><span style=\"font-size: 14px\">Your ticket &quot;246590 Zoho Test: Open Customer Pending &quot; has been Closed.</span></font></div><div style=\"line-height: 24px\"><font color=\"#222222\" face=\"lucida grande, lucida sans, lucida sans unicode, arial, helvetica, verdana, sans-serif\"><span style=\"font-size: 14px\">We hope that we&#39;ve helped you to the best of your satisfaction. To re-open this ticket simply reply to this email.</span></font></div><div style=\"line-height: 24px\"><font color=\"#222222\" face=\"lucida grande, lucida sans, lucida sans unicode, arial, helvetica, verdana, sans-serif\"><span style=\"font-size: 14px\"><br /></span></font></div><div style=\"line-height: 24px\"><font color=\"#222222\" face=\"lucida grande, lucida sans, lucida sans unicode, arial, helvetica, verdana, sans-serif\"><span style=\"font-size: 14px\">Please do not reply to this e-mail.</span></font></div><div style=\"line-height: 24px\"><font color=\"#222222\" face=\"lucida grande, lucida sans, lucida sans unicode, arial, helvetica, verdana, sans-serif\"><span style=\"font-size: 14px\"><br /></span></font></div><div style=\"line-height: 24px\"><font color=\"#222222\" face=\"lucida grande, lucida sans, lucida sans unicode, arial, helvetica, verdana, sans-serif\"><span style=\"font-size: 14px\">Regards,</span></font></div><div style=\"line-height: 24px\"><font color=\"#222222\" face=\"lucida grande, lucida sans, lucida sans unicode, arial, helvetica, verdana, sans-serif\"><span style=\"font-size: 14px\">Softde&#39;but Co.,Ltd. Support Team.</span></font></div><div style=\"line-height: 24px\"><font color=\"#222222\" face=\"lucida grande, lucida sans, lucida sans unicode, arial, helvetica, verdana, sans-serif\"><span style=\"font-size: 14px\"><br /></span></font></div><div style=\"line-height: 24px\"><font color=\"#222222\" face=\"lucida grande, lucida sans, lucida sans unicode, arial, helvetica, verdana, sans-serif\"><span style=\"font-size: 14px\">à¹à¸£à¸µà¸¢à¸ à¸à¸¸à¸ Nutthapong.v,</span></font></div><div style=\"line-height: 24px\"><font color=\"#222222\" face=\"lucida grande, lucida sans, lucida sans unicode, arial, helvetica, verdana, sans-serif\"><span style=\"font-size: 14px\"><br /></span></font></div><div style=\"line-height: 24px\"><font color=\"#222222\" face=\"lucida grande, lucida sans, lucida sans unicode, arial, helvetica, verdana, sans-serif\"><span style=\"font-size: 14px\">ticket ID 246590 à¸«à¸±à¸§à¸à¹à¸­ &quot;Zoho Test: Open Customer Pending &quot; à¹à¸à¹à¸à¸¹à¸à¸à¸´à¸à¸¥à¸à¹à¸¥à¹à¸§</span></font></div><div style=\"line-height: 24px\"><font color=\"#222222\" face=\"lucida grande, lucida sans, lucida sans unicode, arial, helvetica, verdana, sans-serif\"><span style=\"font-size: 14px\">à¸à¸²à¸à¹à¸£à¸²à¸«à¸§à¸±à¸à¸§à¹à¸²à¸à¸°à¸ªà¸²à¸¡à¸²à¸£à¸à¸à¹à¸§à¸¢à¹à¸«à¹à¸à¸¸à¸à¹à¸à¹à¸£à¸±à¸à¸à¸§à¸²à¸¡à¸à¸¶à¸à¸à¸­à¹à¸à¸ªà¸¹à¸à¸ªà¸¸à¸ à¸«à¸²à¸à¸¢à¸±à¸à¸à¸à¸à¸±à¸à¸«à¸²à¸ªà¸²à¸¡à¸²à¸£à¸ re-open ticket à¹à¸à¸¢à¸à¸­à¸à¸à¸¥à¸±à¸à¸­à¸µà¹à¸¡à¸¥à¹à¸à¸à¸±à¸à¸à¸µà¹</span></font></div><div style=\"line-height: 24px\"><font color=\"#222222\" face=\"lucida grande, lucida sans, lucida sans unicode, arial, helvetica, verdana, sans-serif\"><span style=\"font-size: 14px\"><br /></span></font></div><div style=\"line-height: 24px\"><font color=\"#222222\" face=\"lucida grande, lucida sans, lucida sans unicode, arial, helvetica, verdana, sans-serif\"><span style=\"font-size: 14px\">à¸à¹à¸§à¸¢à¸à¸§à¸²à¸¡à¸à¸±à¸à¸à¸·à¸­</span></font></div><div style=\"line-height: 24px\"><font color=\"#222222\" face=\"lucida grande, lucida sans, lucida sans unicode, arial, helvetica, verdana, sans-serif\"><span style=\"font-size: 14px\">Softde&#39;but Co.,Ltd. Support Team.</span></font></div><font color=\"#222222\" face=\"lucida grande, lucida sans, lucida sans unicode, arial, helvetica, verdana, sans-serif\"><span style=\"font-size: 14px\"></span></font></div> </td> </tr> <tr> <td style=\"padding-top: 5px\" valign=\"top\">  </td> </tr> </tbody> </table> </td> </tr> </tbody> </table><br /></div></div></div><div id =\"ZDeskInteg\"><meta itemprop=\"customRelation\" content=\"{&#34;zmIntegAppId&#34;:&#34;1001&#34;,&#34;entityId&#34;:&#34;156482000111835016&#34;,&#34;orgId&#34;:&#34;637166258&#34;,&#34;ticketId&#34;:&#34;156482000111813065&#34;,&#34;url&#34;:&#34;https://deskportal.softdebut.com/agent/sdbdesk/debutmail/tickets/details/156482000111813065&#34;,&#34;zmaction&#34;:&#34;EMBED&#34;}\"></meta></div>","textPlain":"\r\n\r\nDear Nutthapong.v,\r\nYour ticket \"246590 Zoho Test: Open Customer Pending \" has been Closed.We hope \r\nthat we've helped you to the best of your satisfaction. To re-open this ticket \r\nsimply reply to this email.\r\nPlease do not reply to this e-mail.\r\nRegards,Softde'but Co.,Ltd. Support Team.\r\nà¹à¸£à¸µà¸¢à¸ à¸à¸¸à¸ Nutthapong.v,\r\nticket ID 246590 à¸«à¸±à¸§à¸à¹à¸­ \"Zoho Test: Open Customer Pending \" à¹à¸à¹à¸à¸¹à¸à¸à¸´à¸à¸¥à¸à¹à¸¥à¹à¸§\r\nà¸à¸²à¸à¹à¸£à¸²à¸«à¸§à¸±à¸à¸§à¹à¸²à¸à¸°à¸ªà¸²à¸¡à¸²à¸£à¸à¸à¹à¸§à¸¢à¹à¸«à¹à¸à¸¸à¸à¹à¸à¹à¸£à¸±à¸à¸à¸§à¸²à¸¡à¸à¸¶à¸à¸à¸­à¹à¸à¸ªà¸¹à¸à¸ªà¸¸à¸ à¸«à¸²à¸à¸¢à¸±à¸à¸à¸à¸à¸±à¸à¸«à¸²à¸ªà¸²à¸¡à¸²à¸£à¸ \r\nre-open ticket à¹à¸à¸¢à¸à¸­à¸à¸à¸¥à¸±à¸à¸­à¸µà¹à¸¡à¸¥à¹à¸à¸à¸±à¸à¸à¸µà¹\r\nà¸à¹à¸§à¸¢à¸à¸§à¸²à¸¡à¸à¸±à¸à¸à¸·à¸­Softde'but Co.,Ltd. Support Team. \r\n\r\n","metadata":{"dkim-signature":"v=1; a=rsa-sha256; q=dns/txt; c=relaxed/relaxed; d=softdebut.com; s=20211013;\tbh=Nuu2Hzg7pFP3kwjmDCyfEWICkJqxFE8xkXM8/O2MAu4=;\th=Content-Type:MIME-Version:Subject:Message-ID:To:From:Date; b=Y1pA2Mluo4lbLh\t0RurX7agjf8evoR3n1mO0vCqVaOs8lRlqn+Llbj8pxkRN/zvKRcKMP6bASc15yNDBRnym5Y8MV9dD\tg7TvPMufVvV7o8bNuilXD2uuJK7SSgDyJfHmz8hruTXMaOQLA12jGlf/wqlWjIKVYHCHLu6BUjFXc\tnhtmE43A/NKymeUDGpcvAiyuf3mL5ayPib5VYMrtL1rMetCWIw/aWIvG44H6o2/OYSL28uFKYNT5f\tZcOXlU19vptNoCLZpscA/7iv4I1uiq/YRpiZVrCQO/SvOBwrHFnw3iVYB+736gbM5Ob3wXozskTNy\tZhnRrM3iP/XxQnTZyc6Q==","x-real-to":"nutthapong.v@softdebut.com","return-path":"<support@softdebut.com>","received":"from [136.143.188.130] (account noreply@softdebut.com HELO sendera120.transmail.net)  by softdebut.com (CommuniGate Pro SMTP 6.5.2)  with ESMTPSA id 15112059 for nutthapong.v@softdebut.com; Thu, 13 Nov 2025 17:10:18 +0700","message-id":"<edbsnb7d5d87d858273de2b5c56b31edf6c04da805198afad4fada3691435b8192436839668411a476c77bf279c0574f352cf_n5pgl_19a7cb1bc57@desk-mailer.zohodesk.com>","mime-version":"1.0","content-type":"multipart/alternative; \tboundary=\"----=_Part_4505_1995683545.1763028615253\"","auto-submitted":"auto-generated","x-zohosupport-notification":"system-generated","x-auto-response-suppress":"All","original-envelope-id":"2d6f.39a6dc9.m1.f251eff0-c078-11f0-a140-525400d4bb1c.19a7cb1bc6f","x-jid":"2d6f.39a6dc9.r1.f251eff0-c078-11f0-a140-525400d4bb1c.19a7cb1bc6f","tm-mail-jid":"2d6f.39a6dc9.m1.f251eff0-c078-11f0-a140-525400d4bb1c.19a7cb1bc6f","x-app-message-id":"2d6f.39a6dc9.m1.f251eff0-c078-11f0-a140-525400d4bb1c.19a7cb1bc6f","tm-message-id":"<2d6f.39a6dc9.m1.f251eff0-c078-11f0-a140-525400d4bb1c.19a7cb1bc6f@softdebut.com>"},"attributes":{"uid":781},"date":"Thu, 13 Nov 2025 02:10:15 -0800 (PST)","from":"Support Softdebut <support@softdebut.com>","to":"\"Nutthapong.v\" <nutthapong.v@softdebut.com>","subject":"[##246590##] Your ticket has been Closed: Zoho Test: Open Customer Pending"}}]},"versionId":"59978e44-1e18-4964-968d-cf1e64d94f3a","triggerCount":1,"tags":[],"shared":[{"updatedAt":"2025-11-04T05:35:34.736Z","createdAt":"2025-11-04T05:35:34.736Z","role":"workflow:owner","workflowId":"9ZsfV8OO6tqEd2JL","projectId":"p4rUtUQmpiuYMcpU","project":{"updatedAt":"2025-11-01T17:18:40.170Z","createdAt":"2025-11-01T09:21:32.660Z","id":"p4rUtUQmpiuYMcpU","name":"cheetah mufasa <cheetah5900@windowslive.com>","type":"personal","icon":null,"description":null}}]}