n8n/demo-data/workflows/Iuaw5LzAkteUjJJp.json
{"updatedAt":"2025-12-24T19:46:01.087Z","createdAt":"2025-12-02T07:40:29.031Z","id":"Iuaw5LzAkteUjJJp","name":"demo - HITL Email","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"id":"e00c54cb-44c7-48ed-917e-84b576581fe4","name":"Email Trigger (IMAP)","type":"n8n-nodes-base.emailReadImap","position":[-1584,-32],"typeVersion":2},{"parameters":{"fromEmail":"={{ $('Email Trigger (IMAP)').item.json.to }}","toEmail":"={{ $('Email Trigger (IMAP)').item.json.from }}","subject":"=Re: {{ $('Email Trigger (IMAP)').item.json.subject }}","html":"={{ $('Set Email text').item.json.email }}","options":{}},"id":"fcb9bce2-f535-4abf-9425-8fab72eb72b9","name":"Send Email","type":"n8n-nodes-base.emailSend","position":[-80,-48],"webhookId":"a79ae1b4-648c-4cb4-b6cd-04ea3c1d9314","typeVersion":2.1},{"parameters":{"promptType":"define","text":"=Write the text to reply to the following email:\n\n{{ $json.response.text }}","hasOutputParser":true,"options":{"systemMessage":"You are an expert at answering emails. You need to answer them professionally based on the information you have. This is a business email. Be concise and never exceed 100 words. Only the body of the email, not create the subject"}},"id":"646df4eb-a15b-4110-b68d-9558a171d9da","name":"Write email","type":"@n8n/n8n-nodes-langchain.agent","position":[-1344,-32],"typeVersion":1.7},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini","cachedResultName":"gpt-4o-mini"},"options":{}},"id":"80926e72-712d-4ba5-9bae-e09afbf21304","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[-1360,176],"typeVersion":1.2},{"parameters":{"content":"Agent that retrieves business information from a vector database and processes the response","height":240,"width":340},"id":"f9e7362c-7f70-4301-89f7-e3ebeaf84d13","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[-1360,-112],"typeVersion":1},{"parameters":{"content":"If the feedback is OK send email","height":180},"id":"4dc10e1f-e071-45b7-9443-f4128028a007","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[-384,-64],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"35d7c303-42f4-4dd1-b41e-6eb087c23c3d","name":"email","type":"string","value":"={{ $json.output }}"}]},"options":{}},"id":"e2fa20ae-1fe3-4d0a-a05e-cc23a46547e1","name":"Set Email text","type":"n8n-nodes-base.set","position":[-912,-32],"typeVersion":3.4},{"parameters":{"content":"Human in the loop","height":180},"id":"1ccfd4b0-cd3b-4e87-89e2-83ad069ef739","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-672,-64],"typeVersion":1},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"62e26bc5-1732-4699-a602-99490c7406fd","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.data.approved }}","rightValue":""}]},"options":{}},"id":"113d2ad0-ea9b-4945-b44c-851ab3c17226","name":"Approved?","type":"n8n-nodes-base.if","position":[-320,-32],"typeVersion":2.2},{"parameters":{"operation":"sendAndWait","options":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-608,-32],"id":"8e6a0091-be41-455a-8730-2369f49812f3","name":"Send a msg to the user","webhookId":"b96247d3-7b34-4b60-9ebe-34f9fd6692cc","credentials":{"telegramApi":{"id":"lK02YtuNudQss08S","name":"Telegram account"}}}],"connections":{"OpenAI":{"ai_languageModel":[[{"node":"Write email","type":"ai_languageModel","index":0}]]},"Approved?":{"main":[[{"node":"Send Email","type":"main","index":0}]]},"Write email":{"main":[[{"node":"Set Email text","type":"main","index":0}]]},"Set Email text":{"main":[[{"node":"Send a msg to the user","type":"main","index":0}]]},"Email Trigger (IMAP)":{"main":[[{"node":"Write email","type":"main","index":0}]]},"Send a msg to the user":{"main":[[{"node":"Approved?","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"dcaa0e42-f899-4945-a8b6-294c53d01f58","triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-12-02T07:40:29.031Z","createdAt":"2025-12-02T07:40:29.031Z","role":"workflow:owner","workflowId":"Iuaw5LzAkteUjJJp","projectId":"p4rUtUQmpiuYMcpU","project":{"updatedAt":"2025-11-01T17:18:40.170Z","createdAt":"2025-11-01T09:21:32.660Z","id":"p4rUtUQmpiuYMcpU","name":"cheetah mufasa <cheetah5900@windowslive.com>","type":"personal","icon":null,"description":null}}]}