n8n/demo-data/workflows/kHgYyg6h1dWaqpyW.json
{"updatedAt":"2025-12-02T08:44:45.414Z","createdAt":"2025-11-04T07:01:04.487Z","id":"kHgYyg6h1dWaqpyW","name":"Notion Workflow","active":false,"isArchived":false,"nodes":[{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"22db85ba-cd58-80df-a4ae-d30e19ac611e","mode":"list","cachedResultName":"Tasks_System_Engineer","cachedResultUrl":"https://www.notion.so/22db85bacd5880dfa4aed30e19ac611e"},"title":"={{ $json.output.task }}","propertiesUi":{"propertyValues":[{"key":"Due|date","includeTime":false,"date":"={{ formatDate($now, 'dd/MM/yyyy', 'Asia/Bangkok') }}","timezone":"Asia/Bangkok"},{"key":"Priority|select","selectValue":"Low"},{"key":"Status|status","statusValue":"Not Started"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[880,0],"id":"ca30db14-5652-4b29-831c-efea5e2b71ba","name":"Create a database page","credentials":{"notionApi":{"id":"vn7EXzRDn9bigXEb","name":"Notion account"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-304,0],"id":"52ae1a0b-9b49-42b2-9f84-d9e898ee640b","name":"When Executed by Another Workflow"},{"parameters":{"promptType":"define","text":"={{ $('When Executed by Another Workflow').item.json.message.text }}","options":{"systemMessage":"=You are an expert Natural Language Parsing (NLP) engine whose sole function is to generate ready-to-use JSON objects for automation systems like n8n.\n\n**Required JSON Structure (Schema):**\n{\n  \"task\": \"string\"\n}\n\n**STRICT Output Rules:**\n1.  **Response MUST be a single, flat JSON Object ONLY** (starting with `{` and ending with `}`).\n2.  **DO NOT include any surrounding text, explanations, or commentary.**\n3.  **ABSOLUTELY NO Markdown Code Fences** (e.g., ```json or ```).\n4.  **DO NOT wrap the object in a JSON Array or list** (e.g., [ { ... } ]).\n\n**Extraction Guidelines:**\n1.  **\"task\":** Extract the core subject or action item. Omit introductory commands (like 'Create', 'Make') and container words (like 'notion', 'list').\n\n**User Input Example:** \"Create a notion for 'Test'\"\n\n**Desired Raw Output (JSON ONLY):**\n{\n  \"task\": \"Test\",\n}\n\n**Execution Command:**\nAnalyze the user's following input and respond ONLY with the raw, complete JSON object."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[192,0],"id":"95f09746-d272-4ca4-89b6-da8ff1068254","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[192,224],"id":"d1163842-b58d-4357-a153-e572bf99b3cb","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"4o8miL0qoBa3RbWC","name":"OpenRouter account"}}},{"parameters":{"text":"={{ $json.output }}","attributes":{"attributes":[{"name":"task","description":"separate task data from input","required":true}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[544,0],"id":"50b991aa-1a7d-43a1-a6e8-371c0b123199","name":"Information Extractor"},{"parameters":{"chatId":"=8184052957","text":"=สร้าง Notion เรียบร้อยงับบ\n\n{{ $json.url }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1104,0],"id":"3f073c10-f58c-4114-968a-15037647688f","name":"Finish","webhookId":"2ab05328-c0b6-462c-a662-2264114c417f","credentials":{"telegramApi":{"id":"lK02YtuNudQss08S","name":"Telegram account"}}},{"parameters":{"chatId":"=8184052957","text":"=กำลังคุยกับ Notion Agent ให้นะงับบ","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-48,0],"id":"0a3cdf51-6ab2-48f0-b5f6-32818cc5585f","name":"Talking to AI Agent","webhookId":"2ab05328-c0b6-462c-a662-2264114c417f","credentials":{"telegramApi":{"id":"lK02YtuNudQss08S","name":"Telegram account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Talking to AI Agent","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0},{"node":"Information Extractor","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Information Extractor","type":"main","index":0}]]},"Information Extractor":{"main":[[{"node":"Create a database page","type":"main","index":0}]]},"Create a database page":{"main":[[{"node":"Finish","type":"main","index":0}]]},"Talking to AI Agent":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"update_id":121477698,"message":{"message_id":3096,"from":{"id":8184052957,"is_bot":false,"first_name":"Cheetah","language_code":"en"},"chat":{"id":8184052957,"first_name":"Cheetah","type":"private"},"date":1762240844,"text":"สร้าง notion 'ทดสอบ'"}}}],"Create a database page":[{"json":{"id":"2a2b85ba-cd58-8153-88c7-dbd7e4ca3fe8","name":"ทำคู่มือสำหรับการ Review policy ใน PoD","url":"https://www.notion.so/Review-policy-PoD-2a2b85bacd58815388c7dbd7e4ca3fe8","property_related_manual":[],"property_related_steps":[],"property_related_project":[],"property_related_update":[],"property_task_name":"ทำคู่มือสำหรับการ Review policy ใน PoD","property_assignee":[],"property_status":"Not Started","property_due":{"start":"2025-11-05","end":null,"time_zone":null},"property_priority":"Low","property_sub_tasks":[],"property_parent_task":[]}}]},"versionId":"ff006486-9374-4f48-abc1-8a34a0fb277d","triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-11-04T07:01:04.487Z","createdAt":"2025-11-04T07:01:04.487Z","role":"workflow:owner","workflowId":"kHgYyg6h1dWaqpyW","projectId":"p4rUtUQmpiuYMcpU","project":{"updatedAt":"2025-11-01T17:18:40.170Z","createdAt":"2025-11-01T09:21:32.660Z","id":"p4rUtUQmpiuYMcpU","name":"cheetah mufasa <cheetah5900@windowslive.com>","type":"personal","icon":null,"description":null}}]}