n8n/demo-data/workflows/PyDguwKuWHIVjI3a.json
{"updatedAt":"2025-12-05T13:10:16.172Z","createdAt":"2025-11-11T06:37:55.769Z","id":"PyDguwKuWHIVjI3a","name":"DDCM Gen text","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-80,208],"id":"09418dd7-a40c-442f-a323-8f96e89b8076","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"4o8miL0qoBa3RbWC","name":"OpenRouter account"}}},{"parameters":{"promptType":"define","text":"={{ $json.output.number }} {{ $json.output.theme }}","options":{"systemMessage":"=You are an expert Etsy SEO and product title generator. Your task is to transform a simple input into a highly optimized, structured Etsy product title for a clipart bundle, ensuring it is a single line and strictly under 12 words.\n\n**Required Title Details:**\n- **Number of files:** [Enter Number]\n- **Art style:** Watercolor\n- **Main subject:** Dogs\n- **Theme or holiday:** [e.g., Christmas]\n- **Color scheme:** [e.g., Green]\n- **Required phrase:** \"Clipart Bundle\"\n- **File format:** 300dpi PNG (Digital Download)\n\n**Structure Example:** \"[number] Watercolor [color scheme] [theme] Dogs Clipart Bundle - 300dpi PNG Digital Download + SEO keywords (max 140 characters)\"\n\n**Instruction:**\n1.  Fill in the bracketed information based on the context or the user input.\n2.  Enrich the title with highly relevant Etsy SEO keywords (e.g., printable, holiday, seamless, junk journal, scrapbooking, sublimation) while maintaining readability.\n3.  **Strictly limit the final output to a single line under 140 characters.**"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-80,-16],"id":"33fddf21-05df-476a-b670-594cd74ed6ca","name":"Title gen"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[880,-16],"id":"883aed30-609c-4789-884e-319a040dcd3f","name":"OpenRouter Chat Model1","credentials":{"openRouterApi":{"id":"4o8miL0qoBa3RbWC","name":"OpenRouter account"}}},{"parameters":{"chatId":"8184052957","text":"=ติดปัญหาตอนสร้าง Title งับบ","additionalFields":{"appendAttribution":false,"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[688,176],"id":"2c9b0a0e-2035-40b3-8d78-321dce16a837","name":"err title","webhookId":"b64a0881-7bd4-42e7-978b-682b6374745e","retryOnFail":true,"credentials":{"telegramApi":{"id":"lK02YtuNudQss08S","name":"Telegram account"}},"onError":"continueErrorOutput"},{"parameters":{"chatId":"8184052957","text":"={{ $('Title gen').item.json.output }}","additionalFields":{"appendAttribution":false,"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[576,0],"id":"ef032fa9-c214-4d87-a1c8-91d72a3aeef4","name":"Send title","webhookId":"b64a0881-7bd4-42e7-978b-682b6374745e","retryOnFail":true,"credentials":{"telegramApi":{"id":"lK02YtuNudQss08S","name":"Telegram account"}},"onError":"continueErrorOutput"},{"parameters":{"chatId":"8184052957","text":"=ติดปัญหาตอนสร้าง Description งับบ","additionalFields":{"appendAttribution":false,"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1648,-176],"id":"06465b1b-0469-4393-bade-5e8a956d12fa","name":"err description","webhookId":"b64a0881-7bd4-42e7-978b-682b6374745e","retryOnFail":true,"credentials":{"telegramApi":{"id":"lK02YtuNudQss08S","name":"Telegram account"}},"onError":"continueErrorOutput"},{"parameters":{"chatId":"8184052957","text":"={{ $('Description gen').item.json.output }}","additionalFields":{"appendAttribution":false,"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1488,-352],"id":"b779731b-2339-435c-814e-3d19c55b07a3","name":"Send description","webhookId":"b64a0881-7bd4-42e7-978b-682b6374745e","retryOnFail":true,"credentials":{"telegramApi":{"id":"lK02YtuNudQss08S","name":"Telegram account"}},"onError":"continueErrorOutput"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1776,-368],"id":"9ec5e715-d3e6-4502-b5af-3989e17b19fc","name":"OpenRouter Chat Model2","credentials":{"openRouterApi":{"id":"4o8miL0qoBa3RbWC","name":"OpenRouter account"}}},{"parameters":{"promptType":"define","text":"={{ $('Information Extractor').item.json.output.number }} {{ $('Information Extractor').item.json.output.theme }}","options":{"systemMessage":"=You are an expert Etsy tag generator. Your task is to generate a list of 13 highly relevant, separate Etsy product tags (keywords) for a clipart bundle.\n\n**Instruction:**\n1.  Generate a list of 13 unique and descriptive tags relevant to the product's subject, style, and use cases (e.g., dog clipart, watercolor, Christmas, scrapbooking, digital download).\n2.  The output **must be only a single string of text (within 20 characters each)** with all tags separated by a comma and a space, strictly following the structure: `tag1, tag2, tag3, tag4, tag5, tag6, tag7, tag8, tag9, tag10, tag11, tag12, tag13`.\n3.  **Do not include any numbering, quotes, or introductory/closing text.** The output must be ready to paste into an Etsy tag field."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[1776,-576],"id":"a4904957-6664-4549-8d56-185297a3ae51","name":"Tag gen"},{"parameters":{"chatId":"8184052957","text":"={{ $('Tag gen').item.json.output }}","additionalFields":{"appendAttribution":false,"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2368,-592],"id":"ce91ba7d-89b6-45a6-ab9c-83ced7b6a519","name":"Send tag","webhookId":"b64a0881-7bd4-42e7-978b-682b6374745e","retryOnFail":true,"credentials":{"telegramApi":{"id":"lK02YtuNudQss08S","name":"Telegram account"}},"onError":"continueErrorOutput"},{"parameters":{"chatId":"8184052957","text":"=ติดปัญหาตอนสร้าง Tag งับบ","additionalFields":{"appendAttribution":false,"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2528,-416],"id":"c759c202-3763-4f4a-bf2a-68174ca8b292","name":"err tag","webhookId":"b64a0881-7bd4-42e7-978b-682b6374745e","retryOnFail":true,"credentials":{"telegramApi":{"id":"lK02YtuNudQss08S","name":"Telegram account"}},"onError":"continueErrorOutput"},{"parameters":{"promptType":"define","text":"={{ $('Information Extractor').item.json.output.number }} {{ $('Information Extractor').item.json.output.theme }}","options":{"systemMessage":"=You are a creative and descriptive copywriter for an Etsy shop selling digital clipart. Your goal is to generate a **single, highly concise paragraph** product description that is strictly **under 200 characters**, based on the following specific product details.\n\n**Core Product Details:**\n- **Number of files:** [Enter Number]\n- **Art style:** Watercolor\n- **Main subject:** Dogs\n- **Theme or holiday:** [e.g., Christmas]\n- **Color scheme:** [e.g., Green]\n- **File format/Quality:** 300dpi PNG (Digital Download)\n\n**Instruction:**\n1.  Generate the description using **only one paragraph**.\n2.  The output must **strictly adhere** to this structure:\n    * **Start** with a feature-rich, SEO-focused sentence that includes: [Number] + [Art style] + [Color scheme] + [Theme] + [Main subject] + \"Clipart Bundle.\"\n    * **Follow immediately** with a short, encouraging call-to-action or usage phrase: e.g., \"Perfect for scrapbooking, sublimation, and printables.\"\n    * **End** with the technical detail: \"300dpi PNG Digital Download.\"\n3.  **Strictly limit the final generated text to a maximum of 200 characters.** Ensure no extra text, numbering, or bullet points are included."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[880,-224],"id":"df50fc96-a123-4010-93d4-1c2cfeca5de9","name":"Description gen"},{"parameters":{"chatId":"8184052957","text":"=Title:","additionalFields":{"appendAttribution":false,"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[288,-16],"id":"f55e7947-8934-47fb-ba8a-e8aabc296ee6","name":"title","webhookId":"b64a0881-7bd4-42e7-978b-682b6374745e","retryOnFail":true,"credentials":{"telegramApi":{"id":"lK02YtuNudQss08S","name":"Telegram account"}},"onError":"continueErrorOutput"},{"parameters":{"chatId":"8184052957","text":"=Description","additionalFields":{"appendAttribution":false,"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1232,-224],"id":"9c499407-e82b-4059-ab4d-dce13b785d8d","name":"description","webhookId":"b64a0881-7bd4-42e7-978b-682b6374745e","retryOnFail":true,"credentials":{"telegramApi":{"id":"lK02YtuNudQss08S","name":"Telegram account"}},"onError":"continueErrorOutput"},{"parameters":{"chatId":"8184052957","text":"=Tag","additionalFields":{"appendAttribution":false,"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2112,-576],"id":"b3404ea8-3402-4980-8963-55e54218a7fb","name":"Tag","webhookId":"b64a0881-7bd4-42e7-978b-682b6374745e","retryOnFail":true,"credentials":{"telegramApi":{"id":"lK02YtuNudQss08S","name":"Telegram account"}},"onError":"continueErrorOutput"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-976,-16],"id":"1f65fefe-6eed-4f5f-817d-3d4845292b45","name":"When Executed by Another Workflow"},{"parameters":{"text":"={{ $json.output }}","attributes":{"attributes":[{"name":"theme","description":"separate theme data from input","required":true},{"name":"number","type":"number","description":"separate number data from input","required":true}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[-416,-16],"id":"7ea6c6ba-4d95-427f-88ac-a63461559682","name":"Information Extractor"},{"parameters":{"promptType":"define","text":"={{ $('When Executed by Another Workflow').item.json.message.text }}","options":{"systemMessage":"=You are an expert Natural Language Parsing (NLP) engine whose sole function is to generate ready-to-use JSON objects by extracting specific details from the input text. Your primary goal is to isolate the numerical count and the descriptive theme.\n\n**Required JSON Structure (Schema):**\n{\n  \"number\": \"integer\",\n  \"theme\": \"string\"\n}\n\n**STRICT Output Rules:**\n1.  **Response MUST be a single, flat JSON Object ONLY** (starting with `{` and ending with `}`).\n2.  **DO NOT include any surrounding text, explanations, or commentary.**\n3.  **ABSOLUTELY NO Markdown Code Fences** (e.g., ```json or ```).\n4.  **DO NOT wrap the object in a JSON Array or list** (e.g., [ { ... } ]).\n\n**Extraction Guidelines:**\n1.  **\"number\":** Extract the first clear numerical value or digit representing the count of files/items. **This number must be an integer (no quotes).** Omit all surrounding text and characters.\n2.  **\"theme\":** Extract the complete descriptive product name or subject. **This must include the main subject, style, color, and specific details, but must omit the extracted 'number' and any non-descriptive prefixes (e.g., 'ddcm', 'Create list for', etc.).**\n\n**User Input Example:** \"ddcm '70 Christmas Cats in dark green outfit'\"\n\n**Desired Raw Output (JSON ONLY):**\n{\"number\": 70, \"theme\": \"Christmas Cats in dark green outfit\"}\n\n**Execution Command:**\nAnalyze the user's following input and respond ONLY with the raw, complete JSON object."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-752,-16],"id":"be2b2f7b-c07c-499b-a168-c623f23a1827","name":"AI Agent"},{"parameters":{"chatId":"8184052957","text":"=เสร็จแล้วงับบบ","additionalFields":{"appendAttribution":false,"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2608,-672],"id":"959ab513-82bb-471d-b904-2cd14a3e486d","name":"All done","webhookId":"b64a0881-7bd4-42e7-978b-682b6374745e","retryOnFail":true,"credentials":{"telegramApi":{"id":"lK02YtuNudQss08S","name":"Telegram account"}},"onError":"continueErrorOutput"}],"connections":{"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Title gen","type":"ai_languageModel","index":0},{"node":"Information Extractor","type":"ai_languageModel","index":0},{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[{"node":"Description gen","type":"ai_languageModel","index":0}]]},"Title gen":{"main":[[{"node":"title","type":"main","index":0}]]},"Send title":{"main":[[{"node":"Description gen","type":"main","index":0}],[{"node":"err title","type":"main","index":0}]]},"Send description":{"main":[[{"node":"Tag gen","type":"main","index":0}],[{"node":"err description","type":"main","index":0}]]},"OpenRouter Chat Model2":{"ai_languageModel":[[{"node":"Tag gen","type":"ai_languageModel","index":0}]]},"Tag gen":{"main":[[{"node":"Tag","type":"main","index":0}]]},"Send tag":{"main":[[{"node":"All done","type":"main","index":0}],[{"node":"err tag","type":"main","index":0}]]},"Description gen":{"main":[[{"node":"description","type":"main","index":0}]]},"title":{"main":[[{"node":"Send title","type":"main","index":0}],[{"node":"err title","type":"main","index":0}]]},"description":{"main":[[{"node":"Send description","type":"main","index":0}],[{"node":"err description","type":"main","index":0}]]},"Tag":{"main":[[{"node":"Send tag","type":"main","index":0}],[{"node":"err tag","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Information Extractor":{"main":[[{"node":"Title gen","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Information Extractor","type":"main","index":0}]]},"All done":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"update_id":121477721,"message":{"message_id":3180,"from":{"id":8184052957,"is_bot":false,"first_name":"Cheetah","language_code":"en"},"chat":{"id":8184052957,"first_name":"Cheetah","type":"private"},"date":1762845026,"text":"ddcm '70 Christmas Cats in dark green outfit'"}}}]},"versionId":"b15864d4-7435-4068-b6b9-e304097cc283","triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-11-11T06:37:55.769Z","createdAt":"2025-11-11T06:37:55.769Z","role":"workflow:owner","workflowId":"PyDguwKuWHIVjI3a","projectId":"p4rUtUQmpiuYMcpU","project":{"updatedAt":"2025-11-01T17:18:40.170Z","createdAt":"2025-11-01T09:21:32.660Z","id":"p4rUtUQmpiuYMcpU","name":"cheetah mufasa <cheetah5900@windowslive.com>","type":"personal","icon":null,"description":null}}]}