n8n/demo-data/workflows/S22CzqhcoPT38bac.json
{"updatedAt":"2025-12-02T08:14:58.298Z","createdAt":"2025-11-04T05:29:06.399Z","id":"S22CzqhcoPT38bac","name":"Send Email Agent","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"35d7c303-42f4-4dd1-b41e-6eb087c23c3d","name":"email_content","type":"string","value":"={{ $json.output }}"},{"id":"74d33fbf-c485-454b-ba10-2a8f61dd47ad","name":"email_subject","value":"={{ $('Write email\\'s subject').item.json.output }}","type":"string"}]},"options":{}},"id":"7ebb8ad0-45a2-42bc-96f5-03ca2590979b","name":"Set Email text","type":"n8n-nodes-base.set","position":[1632,112],"typeVersion":3.4},{"parameters":{"model":"openai/gpt-4o-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1008,368],"id":"db9a943f-8851-42b2-add6-e09acebfb639","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"4o8miL0qoBa3RbWC","name":"OpenRouter account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"123456","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1424,368],"id":"8a8c9f6c-80a1-4611-bb96-0568223daf01","name":"Simple Memory"},{"parameters":{"assignments":{"assignments":[{"id":"35d7c303-42f4-4dd1-b41e-6eb087c23c3d","name":"sender_name","type":"string","value":"=Nutthapong Vivithsurakarn"},{"id":"6ace445a-9143-47e6-b9b5-f4c608382d64","name":"sender_company","value":"Softdebut","type":"string"},{"id":"a6840095-f5bb-41da-b2bc-438c134f3c8d","name":"sender_position","value":"Software Engineer","type":"string"},{"id":"3b581bfb-3167-4f1c-b8bc-8f07587f8304","name":"sender_intent","value":"={{ $('When Executed by Another Workflow').item.json.message.text }}","type":"string"}]},"options":{}},"id":"f7d353b3-3587-446d-8f7f-0565b23098a5","name":"Set my data","type":"n8n-nodes-base.set","position":[800,176],"typeVersion":3.4},{"parameters":{"promptType":"define","text":"=instruction: {{ $('Set my data').item.json.sender_intent }}\nsender name: {{ $('Set my data').item.json.sender_name }}\nsender company: {{ $('Set my data').item.json.sender_company }}\nsender position: {{ $('Set my data').item.json.sender_position }}","options":{"systemMessage":"You are an expert at answering emails. You need to answer them professionally based on the information you have in English language. This is a business email. Be concise and never exceed 100 words. Only the body of the email, not create the subject"}},"id":"02f4edf6-3cd1-4267-9d14-17b5ad5f3261","name":"Write email's content","type":"@n8n/n8n-nodes-langchain.agent","position":[1312,112],"typeVersion":1.7},{"parameters":{"promptType":"define","text":"=instruction: {{ $json.sender_intent }}","options":{"systemMessage":"You are an expert at answering emails. You need to write email subject for them professionally based on the information you have in English language. This is a business email. Only email subject. DO NOT create email body. DO NOT write the word 'subject' at the beginning of the answer."}},"id":"acfd7f28-8281-4a18-b792-e540a296b297","name":"Write email's subject","type":"@n8n/n8n-nodes-langchain.agent","position":[1008,112],"typeVersion":1.7},{"parameters":{"sessionIdType":"customKey","sessionKey":"331124"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1200,384],"id":"56e679d1-338d-42f9-af55-c81cc3583e4a","name":"Simple Memory1"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[432,176],"id":"19c225c5-82b3-4d43-a6c6-46f6aa4243f3","name":"When Executed by Another Workflow"},{"parameters":{"chatId":"8184052957","text":"=กำลังคุยกับ Email agent ให้อยู่งับบ รอแปปน้าา ยังไงเดะบอกกก","additionalFields":{"appendAttribution":false,"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[640,176],"id":"758e0496-1db8-430b-9cca-a16f5773ddee","name":"Inform the user1","webhookId":"b64a0881-7bd4-42e7-978b-682b6374745e","credentials":{"telegramApi":{"id":"lK02YtuNudQss08S","name":"Telegram account"}}},{"parameters":{"chatId":"8184052957","text":"=SDB - {{ $json.email_subject }}\n","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1856,112],"id":"726a4483-da97-48ba-805f-b6c84c83a8eb","name":"Send subject","webhookId":"b64a0881-7bd4-42e7-978b-682b6374745e","credentials":{"telegramApi":{"id":"lK02YtuNudQss08S","name":"Telegram account"}}},{"parameters":{"chatId":"8184052957","text":"={{ $('Write email\\'s content').item.json.output }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2080,112],"id":"c7442bca-9428-4443-93b3-55a6a7aa1322","name":"Send content","webhookId":"b64a0881-7bd4-42e7-978b-682b6374745e","credentials":{"telegramApi":{"id":"lK02YtuNudQss08S","name":"Telegram account"}}}],"connections":{"Set Email text":{"main":[[{"node":"Send subject","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Write email's content","type":"ai_languageModel","index":0},{"node":"Write email's subject","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Write email's content","type":"ai_memory","index":0}]]},"Set my data":{"main":[[{"node":"Write email's subject","type":"main","index":0}]]},"Write email's content":{"main":[[{"node":"Set Email text","type":"main","index":0}]]},"Write email's subject":{"main":[[{"node":"Write email's content","type":"main","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"Write email's subject","type":"ai_memory","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Inform the user1","type":"main","index":0}]]},"Inform the user1":{"main":[[{"node":"Set my data","type":"main","index":0}]]},"Send subject":{"main":[[{"node":"Send content","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"update_id":121477223,"message":{"message_id":926,"from":{"id":8184052957,"is_bot":false,"first_name":"Cheetah","language_code":"en"},"chat":{"id":8184052957,"first_name":"Cheetah","type":"private"},"date":1754024539,"text":"ช่วยเขียนอีเมล์หา 'grai@proofpoint.com' ว่า 'อยากรู้ว่า walkthrough ที่จะอบรมให้ลูกค้าจะเป็นการอบรมแบบไหน เช่น เข้าห้องอบรมออนไลน์แล้วสอนตามเอกสารนำเสนอ (presentation) หรือการ poc ในระบบให้ดูทุกฟังก์ชั่น เป็นต้น คำถามถัดไปคือ การ walkthrough จะใช้เวลานานขนาดไหนในแต่ละครั้ง และต้องมีการอบรมกี่ครั้ง ถึงจะครบทุกฟังก์ชั่น'","entities":[{"offset":19,"length":19,"type":"email"}]}}}]},"versionId":"abe62e6d-4a3a-47fe-9803-936f34a1bc9c","triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-11-04T05:29:06.399Z","createdAt":"2025-11-04T05:29:06.399Z","role":"workflow:owner","workflowId":"S22CzqhcoPT38bac","projectId":"p4rUtUQmpiuYMcpU","project":{"updatedAt":"2025-11-01T17:18:40.170Z","createdAt":"2025-11-01T09:21:32.660Z","id":"p4rUtUQmpiuYMcpU","name":"cheetah mufasa <cheetah5900@windowslive.com>","type":"personal","icon":null,"description":null}}]}