n8n/demo-data/workflows/y2O53ZDruHZmodMs.json
{"updatedAt":"2025-12-11T08:04:24.251Z","createdAt":"2025-11-04T05:36:44.135Z","id":"y2O53ZDruHZmodMs","name":"Progressive update","active":false,"isArchived":false,"nodes":[{"parameters":{"model":"openai/gpt-4o-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-704,640],"id":"5ef58b87-44f9-41fb-97e6-da876e165b42","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"4o8miL0qoBa3RbWC","name":"OpenRouter account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1-_p6gAmthMENLViT4sxvH0oC2qtSojMWBgnuH9PRelI","mode":"id"},"sheetName":{"__rl":true,"value":"563410932","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"List":"={{ $json.output }}","Customer":"={{ $('Restructure Agent output').item.json.company_name }}"},"matchingColumns":["รายละเอียดงาน"],"schema":[{"id":"date","displayName":"date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"List","displayName":"List","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Customer","displayName":"Customer","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[16,384],"id":"fc3986ff-ecf4-46f1-a03d-3050403888da","name":"Add data to the last row(s) in Project Ticket","credentials":{"googleSheetsOAuth2Api":{"id":"c6lhcKARMVFtPQPa","name":"Google Sheets account"}}},{"parameters":{"jsCode":"// สร้าง Date object สำหรับวันที่และเวลาปัจจุบัน\nconst currentDate = new Date();\n\n// ดึงวัน (dd) - เพิ่ม 0 ข้างหน้าถ้าเป็นเลขหลักเดียว\nconst day = String(currentDate.getDate()).padStart(2, '0');\n\n// ดึงเดือน (mm) - เดือนใน JavaScript เริ่มจาก 0 (ม.ค. = 0)\n// ต้องบวก 1 แล้วเพิ่ม 0 ข้างหน้าถ้าเป็นเลขหลักเดียว\nconst month = String(currentDate.getMonth() + 1).padStart(2, '0');\n\n// ดึงปี (yyyy)\nconst year = currentDate.getFullYear();\n\n// รวมเป็น string ในรูปแบบ dd/mm/yyyy\nconst formattedDate = `${month}/${day}/${year}`;\n\n// ส่งคืนค่าในรูปแบบที่ n8n เข้าใจ (เช่น เก็บใน field ชื่อ 'current_date')\nreturn [\n  {\n      current_date: formattedDate\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-528,384],"id":"b0445566-2166-4dfb-80bb-2fd6c41368f5","name":"Get Current date1"},{"parameters":{"promptType":"define","text":"={{ $('When Executed by Another Workflow').item.json.message.text }}","options":{"systemMessage":"=🧾 Who you are and your role\nYou are an intelligent and precise AI Agent, primarily responsible for classifying user intentions and extracting specific necessary information for use in automated workflows.\n\n🎯 Your Mission and Output Format\nYour mission is to analyze incoming messages and categorize them based on user intent, while also extracting the \"task name\"\n\nYou must return the output as a single JSON Object only, with the following structure:\n\n{\n  \"task_name\": \"string | null\",\n}\n\n🧠 Rules and Key Considerations\nOutput must be a JSON Object only. No other text or explanations are allowed outside the JSON.\n\n\ntask_name Extraction: Extract only the descriptive part of the task, excluding any leading command words or phrases like \"add task\", \"save task\", \"create task\", \"เพิ่มงาน\", \"บันทึกงาน\", \"สร้างงาน\". If the user does not specify a task name, set the value to null."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-1104,384],"id":"b6babab9-8835-465f-a353-52407fd68fa5","name":"AI Agent1"},{"parameters":{"jsCode":"// รับข้อมูลจาก Node ก่อนหน้า\n// สมมติว่า JSON string อยู่ใน field ที่ชื่อ 'output'\n// หากชื่อ field ไม่ใช่ 'output' ให้เปลี่ยนตามชื่อ field จริงที่รับมา\nconst inputString = $input.first().json.output;\n\n// ตัวแปรสำหรับเก็บผลลัพธ์ที่ถูกแปลงแล้ว\nlet parsedJsonData = null;\n\n// ตรวจสอบว่า inputString เป็น string และไม่ว่างเปล่า\nif (typeof inputString === 'string' && inputString.trim() !== '') {\n  try {\n    // ทำการ JSON.parse() เพื่อแปลง string ให้เป็น JSON Object\n    parsedJsonData = JSON.parse(inputString);\n  } catch (error) {\n    // จัดการข้อผิดพลาดหาก string ไม่ใช่ JSON ที่ถูกต้อง\n    console.error(\"Error parsing input JSON string:\", error);\n    // คุณอาจต้องการส่งค่า error หรือ null ออกไป\n    parsedJsonData = { error: \"Invalid JSON string\", original_input: inputString };\n  }\n} else {\n  // หาก inputString ไม่ใช่ string หรือว่างเปล่า\n  console.warn(\"Input is not a valid string or is empty.\");\n  parsedJsonData = { warning: \"No valid JSON string input\", original_input: inputString };\n}\n\n// ส่ง JSON Object ที่ได้จากการ parse ออกไป\nreturn [{\n  json: parsedJsonData\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-784,384],"id":"41803d5d-5e77-4b82-bec6-ba8a33033f7a","name":"Restructure Agent output"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1440,384],"id":"337d475b-7cec-4b86-be73-2f400f971bf1","name":"When Executed by Another Workflow"},{"parameters":{"chatId":"8184052957","text":"=เสร็จแล้วงับบบ","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[208,384],"id":"09cd241f-3797-442c-b0f0-a85d995b177a","name":"Inform the user1","webhookId":"b64a0881-7bd4-42e7-978b-682b6374745e","credentials":{"telegramApi":{"id":"lK02YtuNudQss08S","name":"Telegram account"}}},{"parameters":{"promptType":"define","text":"={{ $('Restructure Agent output').item.json.task_name }}","options":{"systemMessage":"=🧾 Who you are and your role\nYou are a helpful and precise AI Agent, primarily responsible for translating user requests from Thai into a specific English format, including an appropriate tag.\n\n🎯 Your Mission and Output Format\nYour mission is to analyze incoming messages in Thai, identify the core task, assign the most relevant tag from a predefined list, and translate the task description into simple English.\n\nYou must return the output as a single string only, following this exact format:\nTranslated English Task Name\n\n🧠 Rules and Key Considerations\nOutput must be a single string only. No other text, explanations, or JSON objects are allowed.\n\nNever return multiple outputs.\n\n\nTranslated English Task Name: Translate only the descriptive part of the task into simple English. Exclude any leading command words or phrases from the original Thai message (e.g., \"add task\", \"save task\", \"create task\", \"เพิ่มงาน\", \"บันทึกงาน\", \"สร้างงาน\")."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-320,384],"id":"ebf9cd01-b744-4ef3-921b-1011c8849962","name":"Translate"},{"parameters":{"chatId":"8184052957","text":"=กำลังคุยกับ Progressive agent ให้งับ ยังไงเดะบอกนะะ","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1280,384],"id":"44234161-5617-4c86-bb11-e12602a8dec2","name":"Inform the user","webhookId":"b64a0881-7bd4-42e7-978b-682b6374745e","credentials":{"telegramApi":{"id":"lK02YtuNudQss08S","name":"Telegram account"}}}],"connections":{"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0},{"node":"Translate","type":"ai_languageModel","index":0}]]},"Get Current date1":{"main":[[{"node":"Translate","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Restructure Agent output","type":"main","index":0}]]},"Restructure Agent output":{"main":[[{"node":"Get Current date1","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Inform the user","type":"main","index":0}]]},"Add data to the last row(s) in Project Ticket":{"main":[[{"node":"Inform the user1","type":"main","index":0}]]},"Translate":{"main":[[{"node":"Add data to the last row(s) in Project Ticket","type":"main","index":0}]]},"Inform the user":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"update_id":121477215,"message":{"message_id":906,"from":{"id":8184052957,"is_bot":false,"first_name":"Cheetah","language_code":"en"},"chat":{"id":8184052957,"first_name":"Cheetah","type":"private"},"date":1753955605,"text":"อัพเดท project NTL 'คุยกับ PS team เพื่อถามคำถามจากลูกค้า'"}}}]},"versionId":"a467afd2-7eb2-45b9-9ff8-79c9baf9503c","triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-11-04T05:36:44.135Z","createdAt":"2025-11-04T05:36:44.135Z","role":"workflow:owner","workflowId":"y2O53ZDruHZmodMs","projectId":"p4rUtUQmpiuYMcpU","project":{"updatedAt":"2025-11-01T17:18:40.170Z","createdAt":"2025-11-01T09:21:32.660Z","id":"p4rUtUQmpiuYMcpU","name":"cheetah mufasa <cheetah5900@windowslive.com>","type":"personal","icon":null,"description":null}}]}