n8n/demo-data/workflows/zRfovlkNLxUnM6ld.json
{"updatedAt":"2025-12-03T16:29:45.357Z","createdAt":"2025-11-28T11:32:13.388Z","id":"zRfovlkNLxUnM6ld","name":"deprecated - MDog Gen Posts","active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"const llmOutput = $input.first().json.output;\n\n// 1. ดึง JSON Object (ไม่สนใจข้อความนำ/ช่องว่างภายนอก)\nconst jsonMatch = llmOutput.match(/\\{[\\s\\S]*\\}/s); \nif (!jsonMatch) { \n    throw new Error('No JSON found.'); \n}\n\nconst parsedData = JSON.parse(jsonMatch[0]);\n\n// 2. ดึงค่าจาก Key JSON\nconst newTopic = parsedData.topic;\nconst newTheme = parsedData.theme;\n\n// 3. ส่งข้อมูลออก\nreturn [{ \n  json: { \n    newTopic: newTopic, \n    newTheme: newTheme,\n    // ส่งเฉพาะ JSON Object (String) ที่ทำความสะอาดแล้ว\n    fullContent: jsonMatch[0] \n  } \n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-736,560],"id":"c4ffffe6-1e2b-4a7d-91bb-8d074983f133","name":"4"},{"parameters":{"jsCode":"// ดึงตัวแปรโดยใช้ Expression Function ตามที่คุณต้องการ (ใช้ชื่อโหนดที่ถูกต้อง)\nconst fullContentString = $('4').first().json.fullContent;\nconst newTopic = $('4').first().json.newTopic;\nconst newTheme = $('4').first().json.newTheme;\n\n// 1. แปลง JSON String ให้เป็น Object\nconst parsedData = JSON.parse(fullContentString);\n\n// 2. ดึงข้อมูลส่วนย่อยจาก Object\nconst fbCaption = parsedData.facebook_caption;\nconst fbComment = parsedData.facebook_comments;\nconst musicRec = parsedData.music_recommendation;\n\n// ดึง Prompts\nconst prompts = [\n    parsedData.prompt_page_1,\n    parsedData.prompt_page_2,\n    parsedData.prompt_page_3,\n    parsedData.prompt_page_4\n];\n\n// 3. จัดกลุ่มข้อความตามที่ต้องการ (6 ข้อความ)\nconst header = `🎉 **[NEW POST]** ${newTopic} (Theme: ${newTheme}) 🎉\\n---\\n`;\nconst outputItems = [];\nlet order = 0;\n\n// ข้อความที่ 1: Caption & Comments\noutputItems.push({\n    json: { \n        discordMessage: `${header}**ส่วนที่ 1: CAPTION & COMMENTS**\\n\\n**1.1 Caption**:\\n\\`\\`\\`markdown\\n${fbCaption}\\n\\`\\`\\`\\n\\n**1.2 Comments**:\\n\\`\\`\\`markdown\\n${fbComment}\\n\\`\\`\\``, \n        order: order++ \n    } \n});\n\n// ข้อความที่ 2, 3, 4, 5: แยก Prompts ทีละหน้า\nprompts.forEach((prompt, index) => {\n    outputItems.push({\n        json: { \n            discordMessage: `**ส่วนที่ ${index + 2}: IMAGE PROMPT PAGE ${index + 1}**\\n\\n\\`\\`\\`markdown\\n${prompt}\\n\\`\\`\\``, \n            order: order++\n        }\n    });\n});\n\n// ข้อความสุดท้าย: Music\noutputItems.push({\n    json: { \n        discordMessage: `**ส่วนที่ ${order + 1}: MUSIC**\\n\\n🎵 แนะนำเพลง: **${musicRec}**`, \n        order: order++ \n    } \n});\n\nreturn outputItems;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-320,560],"id":"f64f4d82-c27a-4a0d-bd4e-d4776eacad00","name":"6"},{"parameters":{"jsCode":"// รับข้อมูลจากโหนดก่อนหน้า (1. Read Used Topics (GS))\nconst items = $input.all();\n\n// สร้าง Array สำหรับเก็บคู่ Topic-Theme ที่เคยใช้แล้ว\nconst usedPairs = [];\n\nfor (const item of items) {\n    const topic = item.json['หัวข้อ (Topic)'];\n    const theme = item.json['ธีม (Theme)'];\n\n    // ตรวจสอบว่ามีทั้งหัวข้อและธีม และเป็น String ที่ไม่ว่างเปล่า\n    if (topic && theme && typeof topic === 'string' && typeof theme === 'string') {\n        // สร้างคู่ที่ไม่ซ้ำในรูปแบบ \"Topic - Theme\"\n        usedPairs.push(`\"${topic.trim()} - ${theme.trim()}\"`);\n    }\n}\n\n// จัดรูปแบบรายการคู่ที่ไม่ซ้ำให้เป็น String ในรูปแบบที่ AI Prompt คาดหวัง\n// ตัวอย่าง: Used Pairs: [\"กฎ 50/30/20 - ฟาโรห์\", \"หนี้สิน - ซามูไร\"]\nconst usedPairsString = usedPairs.length > 0 \n  ? `Used Pairs: [${usedPairs.join(', ')}]` \n  : 'Used Pairs: []';\n\n// ส่งตัวแปรที่มีรายการคู่ที่ไม่ซ้ำออกไป\nreturn [{ json: { used_pairs_list_for_prompt: usedPairsString } }];"},"name":"2. Prepare Topic List","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1280,560],"id":"f4cd32d6-4fb4-4145-b1d6-6f686842eb2c"},{"parameters":{"model":"google/gemini-3-pro-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-1056,752],"id":"3c5648e6-1886-4ef4-b09e-0f24101c5542","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"4o8miL0qoBa3RbWC","name":"OpenRouter account"}}},{"parameters":{"documentId":{"__rl":true,"value":"15Hg4iwZgV4u9iKw8v3lXpvwuS3rPu15pr6fuvQYVYa0","mode":"list","cachedResultName":"Content Generation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/15Hg4iwZgV4u9iKw8v3lXpvwuS3rPu15pr6fuvQYVYa0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"ชีต1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/15Hg4iwZgV4u9iKw8v3lXpvwuS3rPu15pr6fuvQYVYa0/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-1488,560],"id":"87a8e534-3e0a-4d35-92bd-7959a6155023","name":"Read the old one","credentials":{"googleSheetsOAuth2Api":{"id":"c6lhcKARMVFtPQPa","name":"Google Sheets account"}}},{"parameters":{"promptType":"define","text":"=สร้างคอนเทนต์ต่อไป\n\n=== ข้อมูลที่ได้รับจาก Google Sheets (INPUT DATA) ===\nคุณจะได้รับรายการคู่หัวข้อและธีมที่เคยใช้ไปแล้วทั้งหมดจาก Google Sheets เพื่อใช้ประกอบการตัดสินใจเลือกคอนเทนต์ใหม่\n{{$node[\"2. Prepare Topic List\"].json.used_pairs_list_for_prompt}}\n\n=== ภารกิจของคุณ (YOUR MISSION) ===\nคุณต้องทำตามขั้นตอนดังนี้:\n\n1. **คิดหัวข้อการเงิน (Topic) และ ธีม (Theme):**\n   * **ตรวจสอบรายการ Used Pairs ที่ได้รับมา** (คู่ Topic - Theme) อย่างเคร่งครัด\n   * **เลือกหัวข้อการเงิน** ที่มีประโยชน์ 1 เรื่อง (เช่น การออม, หนี้สิน, ภาษี, ทองคำ, กองทุน, จิตวิทยาการเงิน)\n   * **กำหนดบทบาทสมมติให้ \"ด็อกแด๊ด\"** ที่เข้ากับหัวข้อ (Theme) (เช่น ชาวสวน, นักบิน, เชฟ, ซามูไร, พ่อมด, นักสำรวจ)\n   * **คู่ (Topic - Theme) ที่เลือก ต้องไม่ซ้ำกับรายการ Used Pairs ที่ได้รับมาโดยเด็ดขาด**\n2. **สไตล์ภาพ (Art Style):** ใช้สไตล์นี้เสมอ:\n   * **Style A:** Ghibli Anime (Full Color) - Manga Layout (5-7 Panels per Page) using Hand-painted watercolor [Series 5 Pages]\n\n=== ข้อกำหนดการแสดงผล (OUTPUT REQUIREMENTS) ===\nแสดงผลลัพธ์ทั้งหมดเป็น **JSON Object เดียวเท่านั้น** ตามโครงสร้างนี้ (ห้ามมีข้อความนำหรือ Code Block อื่นๆ นอกเหนือจาก JSON Object นี้):\n\n{\n  \"topic\": \"ชื่อหัวข้อการเงินที่เลือก (ตัวอย่าง: การออม)\",\n  \"theme\": \"ชื่อธีมตัวละครที่เลือก (ตัวอย่าง: ชาวสวน)\",\n  \"facebook_caption\": \"(Code Block) 1.1 Facebook Caption (< 500 chars) Tone: น่ารัก, เป็นกันเอง, ลงท้าย \\\"ค้าบ/งับ\\\", Hook ให้น่าสนใจ\",\n  \"facebook_comments\": \"(Code Block) 1.2 Facebook Comment Thread (Comment 1: สาระ / Comment 2: เคล็ดลับ)\",\n  \"prompt_page_1\": \"(Code Block) AI Image Prompt Page 1\",\n  \"prompt_page_2\": \"(Code Block) AI Image Prompt Page 2\",\n  \"prompt_page_3\": \"(Code Block) AI Image Prompt Page 3\",\n  \"prompt_page_4\": \"(Code Block) AI Image Prompt Page 4\",\n  \"prompt_page_5\": \"(Code Block) AI Image Prompt Page 5\",\n  \"music_recommendation\": \"- แนะนำชื่อเพลง/แนวเพลงที่เข้ากับธีม\"\n}","options":{"systemMessage":"=คุณคือ \"Dog Dad AI Creator\" สุดยอด Creative Content ที่เชี่ยวชาญด้านการเงินและการสร้างภาพ\nหน้าที่ของคุณคือ: \"คิดและสร้างคอนเทนต์\" สำหรับเพจ \"วางแผนการเงินแบบหมาๆ\" โดยอัตโนมัติ 100%\n\n=== กฎเหล็กสำหรับการเขียน PROMPT ===\n1. ต้องมี `[Reference Instruction]: Using the attached image as the STRICT character reference for \"Dog Dad\".` เสมอในทุก Prompt ที่สร้างรูป\n2. ต้องระบุ `**Font Style:** Use Thai Google Fonts style...` ในทุก Prompt ที่สร้างรูป\n3. ต้องระบุ Aspect Ratio เป็น `1:1` ในทุก Prompt ที่สร้างรูป\n4. ห้ามรวม Prompt หลายหน้าใน Code Block เดียว ต้องแยก 1 หน้า ต่อ 1 Code Block เสมอ"}},"name":"3. AI Content Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-1056,560],"id":"c61a8ef2-e939-4d0d-b38c-71d8f45d4711"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"15Hg4iwZgV4u9iKw8v3lXpvwuS3rPu15pr6fuvQYVYa0","mode":"list","cachedResultName":"Content Generation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/15Hg4iwZgV4u9iKw8v3lXpvwuS3rPu15pr6fuvQYVYa0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"ชีต1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/15Hg4iwZgV4u9iKw8v3lXpvwuS3rPu15pr6fuvQYVYa0/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"หัวข้อ (Topic)":"={{ $json.newTopic }}","ธีม (Theme)":"={{ $json.newTheme }}"},"matchingColumns":[],"schema":[{"id":"ลำดับ","displayName":"ลำดับ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"หัวข้อ (Topic)","displayName":"หัวข้อ (Topic)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ธีม (Theme)","displayName":"ธีม (Theme)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ใจความสำคัญ (Key Takeaway)","displayName":"ใจความสำคัญ (Key Takeaway)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-512,560],"id":"c32499c6-2206-44a3-b909-976f31219ae2","name":"Write data to sheet","credentials":{"googleSheetsOAuth2Api":{"id":"c6lhcKARMVFtPQPa","name":"Google Sheets account"}}},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-112,560],"id":"a5449354-6d80-4535-8a44-bd5ca3de6289","name":"Wait","webhookId":"7a1edc67-3e4c-4b4e-a2f9-1e5d205b91b5"},{"parameters":{"chatId":"=8184052957","text":"=กำลังสร้าง Post ให้น้า เสร็จแล้วจะส่งไปใน Discord นะงับ","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1680,560],"id":"43da934f-3932-4fb9-8f8f-8a2eb8628857","name":"Accessing","webhookId":"2ab05328-c0b6-462c-a662-2264114c417f","credentials":{"telegramApi":{"id":"lK02YtuNudQss08S","name":"Telegram account"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1888,560],"id":"2b6a2cb0-f775-485a-8c23-1122531fd383","name":"When Executed by Another Workflow"},{"parameters":{"chatId":"=8184052957","text":"={{$json.discordMessage}}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[112,560],"id":"f03780d2-464a-4e96-a296-2af9d1e0093c","name":"Answering","webhookId":"2ab05328-c0b6-462c-a662-2264114c417f","credentials":{"telegramApi":{"id":"lK02YtuNudQss08S","name":"Telegram account"}}}],"connections":{"4":{"main":[[{"node":"Write data to sheet","type":"main","index":0}]]},"6":{"main":[[{"node":"Wait","type":"main","index":0}]]},"2. Prepare Topic List":{"main":[[{"node":"3. AI Content Agent","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"3. AI Content Agent","type":"ai_languageModel","index":0}]]},"Read the old one":{"main":[[{"node":"2. Prepare Topic List","type":"main","index":0}]]},"3. AI Content Agent":{"main":[[{"node":"4","type":"main","index":0}]]},"Write data to sheet":{"main":[[{"node":"6","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Answering","type":"main","index":0}]]},"Accessing":{"main":[[{"node":"Read the old one","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Accessing","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0c6ba8dd-61a5-47b1-82b7-903fa46430e7","triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-11-28T11:32:13.388Z","createdAt":"2025-11-28T11:32:13.388Z","role":"workflow:owner","workflowId":"zRfovlkNLxUnM6ld","projectId":"p4rUtUQmpiuYMcpU","project":{"updatedAt":"2025-11-01T17:18:40.170Z","createdAt":"2025-11-01T09:21:32.660Z","id":"p4rUtUQmpiuYMcpU","name":"cheetah mufasa <cheetah5900@windowslive.com>","type":"personal","icon":null,"description":null}}]}